<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/404/404.css" />
        <title>404</title>
    </head>
    <body>
        <div class="wrap">
            <a href="/" class="logo">
                <span class="blind">로고</span>
            </a>
            <div class="con">
                <div class="con-top">
                    <h1 class="tit">
                        앗<span>..</span> 요청하신 페이지를 찾을 수 없습니다.<br />
                        불편을 드려 죄송합니다.
                    </h1>
                    <h5 class="txt">
                        존재하지 않는 주소를 입력하셨거나,<br />
                        요청하신 페이지의 주소가 변경,삭제되어 페이지를 찾을 수
                        없습니다.
                    </h5>
                    <a href="/" class="btn-back">홈으로가기</a>
                    <a href="javascript:history.back()" class="btn-back btn-pre"
                        >이전 페이지</a
                    >
                </div>
                <div class="con-btm">
                    <div class="con-btm-img">
                        <span class="blind">수리</span>
                    </div>
                    <div class="con-btm-txt">
                        <h5 class="btm-txt">
                            오류가 계속된다면 고객센터에 남겨주세요. 빠르게 답변
                            드리겠습니다!
                        </h5>
                        <a href="">고객센터 가기</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
