#container {
    position: relative;
}

body {
    min-width: 1580px;
}

/*헤더*/
#position-header.integrated-header {
    padding: 18px 40px 0 0;
    border-bottom: 1px solid #eaedf4;
    display: flex;
    justify-content: space-between;
    background-color: var(--white);
    min-width: 700px;
}

#position-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
    padding: 24px 40px 0 0;
    height: 64px;
    box-sizing: border-box;
    font-size: 0;
    text-align: right;
}

#position-header:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 272px;
    z-index: 1;
    background: #fff;
    content: "";
    opacity: 0.95;
}

#position-header.integrated-header .area-logo {
    margin-left: 64px;
    padding-top: 4px;
}

#position-header.integrated-header .area-logo .link-position-logo {
    margin-right: 6px;
}
.area-logo .link-position-logo svg{
    width:82px;
    height:21px;
    background: url('/static/images/my-page/position-logo-small.svg') no-repeat;
}
#position-section {
    display: grid;
    grid-template-areas:
        "gnb main"
        "gnb footer";
    grid-template-rows: 1fr auto;
    grid-template-columns: auto 1fr;
    width: 100%;
    min-width: 1560px;
    min-height: 100%;
    box-sizing: border-box;
}

.position-gnb-section #position-gnb-wrap.position-gnb-wrap {
    margin-top: 64px;
    padding-top: 36px;
}

.position-gnb-section #position-gnb-wrap {
    padding-top: 96px;
}

#position-gnb-wrap {
    grid-area: gnb;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 25;
    width: 271px;
    border-right: 1px solid #f0f0f0;
    background: #fff;
    transition: width 0.5s;
}

#position-gnb-wrap .gnb {
    margin: 0 auto;
    width: 240px;
}

#position-gnb-wrap .gnb>li {
    position: relative;
}

#position-gnb-wrap .gnb>li>a {
    display: block;
    position: relative;
    padding: 10px 0 14px 56px;
    height: 44px;
    box-sizing: border-box;
}

#position-gnb-wrap .gnb>li.only.selected>a:before {
    opacity: 1;
}

#position-gnb-wrap .gnb>li.selected>a:before {
    background: #eff5ff;
}

#position-gnb-wrap .gnb>li>a:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 240px;
    height: 44px;
    border-radius: 5px;
    background: #f4f6fa;
    transition: opacity 0.5s;
    content: "";
    opacity: 0;
}

#position-gnb-wrap .gnb>li>a>svg {
    display: block;
    position: absolute;
    top: 10px;
    left: 16px;
    z-index: 3;
    width: 24px;
    height: 24px;
}

#position-gnb-wrap .gnb>li.selected>a svg use {
    color: #4876ef;
}

#position-gnb-wrap .gnb>li>a>svg use {
    color: #afbac8;
}

#position-gnb-wrap .gnb>li.selected>a>.txt {
    color: #4876ef;
    font-weight: bold;
}

#position-gnb-wrap .gnb>li>a>.txt {
    display: block;
    position: relative;
    z-index: 2;
    color: #5c667b;
    font-size: 15px;
    line-height: 24px;
}

#position-gnb-wrap .gnb>li+li {
    margin-top: 8px;
}

#position-gnb-wrap .gnb>li {
    position: relative;
}

/* 바디 */
#position-wrap {
    grid-area: main;
    display: table-row;
    width: 100%;
    height: 100%;
}

#content {
    position: relative;
    margin: 88px auto 136px;
    width: 1248px;
}

.wrapper-narrow .wrap-title {
    margin-bottom: 45px;
}

.wrap-title {
    color: #373f57;
    font-size: 36px;
    font-weight: bold;
    line-height: 56px;
}

.password-confirm-wrap {
    margin-top: 56px;
}

.password-confirm-subtitle {
    margin-bottom: 16px;
    height: 40px;
    color: var(--gray110);
    font-size: 24px;
    font-weight: bold;
    line-height: 1.42;
    text-align: center;
}

.password-confirm-desc {
    color: var(--gray90);
    font-size: 14px;
    line-height: 1.43;
    text-align: center;
}

.password-confirm-field {
    margin: 40px auto 64px;
    width: 500px;
    border-collapse: collapse;
    table-layout: fixed;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    font-size: inherit;
    line-height: 100%;
}

.password-confirm-field th {
    margin: 12px 64px 20px 0;
    width: 144px;
    color: var(--gray90);
    font-size: 14px;
    font-weight: normal;
    line-height: 1.43;
}

.password-confirm-field th, .password-confirm-field td {
    padding: 0;
    height: 72px;
    border-bottom: 1px solid var(--gray30);
    box-sizing: border-box;
    text-align: left;
    vertical-align: middle;
}

.TypoBox {
    display: inline-block;
    position: relative;
    border: 1px solid var(--gray70);
    border-radius: 4px;
    box-sizing: border-box;
    background-color: var(--white);
}

.TypoBox .Typo.SizeL {
    padding: 12px;
    height: 46px;
    font-size: 16px;
    line-height: 24px;
    width: 320px;
}
.TypoBox .Typo {
    padding: 8px 12px;
    width: 100%;
    height: 38px;
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    color: var(--gray100);
    font-size: 14px;
    line-height: 20px;
    background: none;
}

.password-confirm .btn-group {
    margin: 64px auto 136px;
    text-align: center;
}

.password-confirm-caution {
    margin-bottom: 24px;
    height: 24px;
    color: var(--gray70);
    font-size: 14px;
    line-height: 1.43;
}

.password-confirm .icon-exclam {
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.password-confirm .btn-submit {
    width: 104px;
}

[class*="BtnType"].SizeL {
    padding: 10px 15px 12px;
    height: 48px;
    font-size: 16px;
    line-height: 24px;
}

[class*="BtnType"] {
    display: inline-flex;
    position: relative;
    border: 1px solid var(--blue90);
    border-radius: 4px;
    box-sizing: border-box;
    color: var(--white);
    text-align: center;
    vertical-align: top;
    background-color: var(--blue90);
    justify-content: center;
    align-items: center;
}
[class*="BtnType"]:hover {
    border-color: var(--blue100);
    background-color: var(--blue100);
}

.svg-pattern{
    display:none;
}