#position-wrap {
    grid-area: main;
    display: table-row;
    width: 100%;
    height: 100%;
}

.layout-home #content {
    margin-bottom: 0;
}
#content {
    position: relative;
    margin: 88px auto 136px;
    width: 1248px;
}
.wrap-my-home {
    position: relative;
}

.wrap-my-home .wrap-title-box .wrap-title {
    display: inline-block;
}

.wrap-title {
    color: #373f57;
    font-size: 36px;
    font-weight: bold;
    line-height: 56px;
}

.wrap-my-home .wrap-title-box .btn-setting.job-state {
    padding-right: 30px;
    border: 1px solid #eff5ff;
    color: #4876ef;
    font-weight: bold;
    background: #eff5ff right 14px center url('/static/images/my-page/next-arrow.svg') no-repeat;
}
.wrap-my-home .wrap-title-box .btn-setting.job-state:hover {
    background: #deebff right 14px center url('/static/images/my-page/next-arrow-hover.svg') no-repeat;
}

.wrap-my-home .wrap-title-box .btn-setting {
    display: inline-block;
    margin: 12px 0 0 10px;
    padding: 6px 30px 6px 16px;
    border: 1px solid;
    border-radius: 56px;
    color: #fff;
    font-size: 13px;
    line-height: 24px;
    vertical-align: top;
}

.my-notification {
    padding: 0 0 12px;
    width: 100%;
    border-bottom: 1px solid #eaedf4;
}

.my-notification .TabBox {
    padding: 56px 0 22px;
}

.TabBox {
    display: flex;
}

.TabBox .BtnType {
    position: relative;
    padding: 0 2px 8px;
    color: var(--gray80);
    font-size: 20px;
    font-weight: bold;
    line-height: 28px;
    border: none;
    border-radius: 0;
    background: var(--white);
}

[class*="BtnType"] {
    display: inline-flex;
    position: relative;
    border: 1px solid var(--blue90);
    border-radius: 4px;
    box-sizing: border-box;
    color: var(--white);
    text-align: center;
    vertical-align: top;
    background-color: var(--blue90);
    justify-content: center;
    align-items: center;
}

.TabBox .BtnType .Badge {
    position: relative;
    align-self: flex-start;
    box-sizing: border-box;
    display: inline-block;
    margin: 2px 0 0 4px;
    padding: 1px 8px;
    min-width: 24px;
    height: 24px;
    text-align: center;
    vertical-align: middle;
    color: var(--gray80);
    font-size: 14px;
    line-height: 22px;
    border-radius: 12px;
    background: var(--gray30);
}

.TabBox .BtnType:after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    height: 3px;
    border-radius: 4px;
    content: "";
}

.TabBox li+li {
    margin-left: 32px;
}

.TabBox .Select .BtnType {
    color: var(--gray100);
}

.TabBox .Select .BtnType .Badge {
    background: var(--gray100);
    color: var(--white);
}

.TabBox .Select .BtnType:after {
    background-color: var(--gray100);
}

.TabBox .BtnType:hover, .TabBox .BtnType:focus {
    color: var(--gray100);
}
.TabBox .Select .BtnType:hover, .TabBox .Select .BtnType:focus {
    color: var(--gray120);
}

/* cards */
.my-notification .wrap-cards {
    position: relative;
    height: 234px;
}

.my-notification .sliders {
    overflow: hidden;
    position: relative;
    width: 1264px;
    height: 234px;
}

.my-notification .sliders .bx-viewport {
    overflow: visible !important;
}

.bx-viewport {
    -webkit-transform: translatez(0);
}

.my-notification .slider.my li:nth-of-type(4n+3), .my-notification .slider.jobs li {
    border-color: #00d3ab;
    background: #00d3ab;
}
.my-notification .slider.my li:nth-of-type(4n+3), .my-notification .slider.messages li {
    border-color: #00beea;
    background: #00beea;
}
.my-notification .slider li {
    float: left;
    position: relative;
    width: 300px;
    height: 190px;
    border-width: 1px;
    border-style: solid;
    border-radius: 16px;
    box-sizing: border-box;
}

.my-notification .slider .inner {
    position: relative;
    z-index: 1;
    padding: 23px;
    height: 100%;
    box-sizing: border-box;
}

.my-notification .slider .link-card {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.my-notification .slider .link-card:after {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    content: "";
    opacity: 0;
}

.my-notification .slider .flag {
    position: relative;
    margin-bottom: 34px;
    padding-left: 34px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    opacity: 1;
}

.my-notification .slider .flag svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
}

.my-notification .slider .flag svg use {
    color: #fff;
}

.my-notification .slider li dl {
    position: absolute;
    top: 81px;
    right: 23px;
    bottom: 23px;
    left: 23px;
}
.my-notification .slider .title {
    overflow: hidden;
    margin-bottom: 12px;
    width: 100%;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.my-notification .slider .txt {
    overflow: hidden;
    width: 100%;
    color: #f8fafc;
    font-size: 14px;
    line-height: 24px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.my-notification .slider .txt.define, .my-notification .slider .txt.list {
    font-size: 0;
}
.my-notification .slider .txt {
    overflow: hidden;
    width: 100%;
    color: #f8fafc;
    font-size: 14px;
    line-height: 24px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.my-notification .slider .txt.list span {
    width: auto;
}
.my-notification .slider .txt span {
    display: inline-block;
    width: 56px;
    font-size: 13px;
    line-height: 24px;
    vertical-align: top;
}
.my-notification .slider .txt.list span+span {
    margin-left: 10px;
}

.my-notification .slider .btn-card {
    display: table;
    position: absolute;
    bottom: 23px;
    z-index: 2;
    width: 252px;
    opacity: 0;
}

.my-notification .slider .btn-card>span {
    display: table-cell;
    min-width: 122px;
}

.position-btn-ml {
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 120px;
    height: 40px;
    border: 0;
    box-sizing: border-box;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
}
.my-notification .slider .btn-card .position-btn-ml {
    width: 100%;
}
.my-notification .slider .btn-card .position-btn-ml>span {
    width: calc(100% - 2px);
}
.position-btn-ml span {
    display: inline-block;
    width: 118px;
    height: 38px;
    border: 1px solid var(--gray80);
    border-radius: 4px;
    color: var(--gray100);
    font-size: 14px !important;
    line-height: 36px;
    background: var(--white);
}

.my-notification .slider li:hover {
    border-color: #d7dce5 !important;
    background: #fff !important;
    box-shadow: 2px 6px 16px 0 rgba(17, 42, 128, 0.08);
}

.my-notification .slider li:hover .flag {
    opacity: 0;
}

.my-notification .slider li:hover dl {
    -webkit-transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    -webkit-transform: translateY(-58px);
    -ms-transform: translateY(-58px);
    transform: translateY(-58px);
}

.my-notification .slider li:hover .title {
    color: #373f57;
}

.my-notification .slider li:hover .txt {
    color: #8491a7;
}

.my-notification .slider li:hover .btn-card {
    opacity: 1;
}
.position-btn-ml:hover span {
    background: var(--gray20);
}

/* 배너 버튼 */
.my-notification .btn-slider:disabled {
    background: #fff;
    cursor: default;
}

.my-notification .btn-slider.btn-prev {
    right: 40px;
}

.my-notification .btn-slider {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 3;
    width: 32px;
    height: 32px;
    border: 1px solid #eaedf4;
    border-radius: 16px;
    background: #fff;
}

.my-notification .btn-slider.btn-prev:after {
    margin-left: 2px;
    border-width: 0 0 2px 2px;
}

.btn-prev.hidden, .btn-next.hidden {
            display: none; /* hidden 클래스가 붙은 버튼 숨기기 */
        }

.my-notification .btn-slider:disabled:after {
    border-color: #afbac8;
}

.my-notification .btn-slider:after {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 7px;
    height: 7px;
    border-style: solid;
    border-color: #5c667b;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
    content: "";
}

.my-notification .btn-slider.btn-next:after {
    margin-left: -2px;
    border-width: 2px 2px 0 0;
}

.my-notification .btn-slider:hover {
    background: #f4f6fa;
}

/* 배너 밑 바로가기 */

.onboarding-section {
    padding: 12px 0 32px;
}

.onboarding-section .career-inflow {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0 16px;
}

.onboarding-section .career-inflow-card {
    display: flex;
    background: var(--white);
}

.onboarding-section .career-inflow-card .link-inflow {
    display: flex;
    padding: 16px;
    width: 100%;
    height: 100%;
    border: 1px solid var(--gray40);
    border-radius: 16px;
    box-sizing: border-box;
    align-items: center;
}

.onboarding-section .career-inflow-card .box-icon.type-class {
    background: var(--blue20);
}
.onboarding-section .career-inflow-card .box-icon.type-career-chat {
    background: var(--green30);
}
.onboarding-section .career-inflow-card .box-icon.type-mentoring {
    background: #def9fe;
}
.onboarding-section .career-inflow-card .box-icon.type-open-chat {
    background: #f0e3fe;
}
.onboarding-section .career-inflow-card .box-icon {
    display: flex;
    margin-right: 12px;
    width: 64px;
    height: 64px;
    border-radius: 8px;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
}

.onboarding-section .career-inflow-card .box-info {
    flex-grow: 1;
}

.onboarding-section .career-inflow-card .tit {
    color: var(--gray120);
    font-size: 15px;
    line-height: 22px;
}

.onboarding-section .career-inflow-card .desc {
    margin-top: 2px;
    color: var(--gray100);
    font-size: 14px;
    line-height: 20px;
}

.onboarding-section .career-inflow-card .link-inflow:hover {
    border-color: var(--blue80);
    box-shadow: 0 10px 15px 0 rgba(34, 34, 34, 0.06);
}
/* 차곡차곡 한 걸음씩 */

.wrap-my-home .wrap-col {
    position: relative;
    width: 1248px;
}

.wrap-my-home .wrap-col:before {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 940px;
    z-index: 1;
    width: 1px;
    background: #eaedf4;
    content: "";
}

.wrap-my-home .col1 {
    float: left;
    position: relative;
    z-index: 3;
    padding-bottom: 136px;
    width: 940px;
}

.my-timeline {
    margin-bottom: 34px;
    padding: 38px 80px 0 0;
}

.my-timeline .title {
    margin-bottom: 32px;
    color: #373f57;
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
}

.my-folio {
    position: absolute;
    top: 32px;
    right: 80px;
    z-index: 1;
    font-size: 0;
}

.my-folio .link-folio {
    display: inline-block;
    margin-left: 12px;
    padding: 10px 20px 14px;
    width: 188px;
    border-radius: 24px;
    box-sizing: border-box;
    line-height: 24px;
    background: #373f57;
}
.my-folio .link-folio .txt {
    display: block;
    float: left;
    margin-top: 3px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
}

.my-folio .link-folio .count {
    display: block;
    float: right;
    color: #00d3ab;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
}

.my-folio .link-folio:after {
    display: table;
    clear: both;
    content: "";
    table-layout: fixed;
}

.my-topic {
    position: relative;
    padding: 0 80px 0 0;
}

.my-topic .title {
    position: relative;
    padding: 0 0 0 79px;
    height: 28px;
    color: #4876ef;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
}

.my-topic .title>span {
    position: absolute;
    top: 0;
    left: 0;
    width: 69px;
    border: 1px solid #4876ef;
    border-radius: 14px;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
}

.my-topic .list {
    margin-top: 24px;
}

.my-topic .list li {
    display: block;
    overflow: hidden;
    float: left;
    position: relative;
    padding: 21px 23px 19px;
    width: 203px;
    height: 223px;
    border: 1px solid transparent;
    border-radius: 12px;
    box-sizing: border-box;
    background: #eff5ff;
}

.my-topic .list dl {
    display: block;
    position: relative;
    padding: 75px 0 0 0;
}

.my-topic .list li.company dt {
    text-overflow: ellipsis;
    white-space: nowrap;
}

.my-topic .list dt {
    display: block;
    overflow: hidden;
    width: 100%;
    color: #373f57;
    font-size: 15px;
    font-weight: bold;
    line-height: 24px;
}

.my-topic .list dd.meta {
    margin-top: 8px;
    color: #5c667b;
    font-size: 14px;
}

.my-topic .list dd.meta span {
    display: block;
    overflow: hidden;
    width: 100%;
    line-height: 24px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.my-topic .list .copy {
    position: absolute;
    top: 21px;
    right: 23px;
    left: 23px;
    color: #4876ef;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    opacity: 1;
}

.my-topic .list .copy svg {
    display: block;
    margin-bottom: 8px;
    width: 24px;
    height: 24px;
}

.my-topic .list .copy svg use {
    color: #4876ef;
}

.my-topic .list .BtnType {
    display: block;
    position: absolute;
    right: 23px;
    bottom: 19px;
    left: 23px;
    opacity: 0;
    color: var(--blue90);
    border-color: var(--blue90);
    background: var(--white);
}

[class*="BtnType"].SizeM {
    padding: 6px 11px;
    height: 40px;
    font-size: 14px;
    line-height: 24px;
}

[class*="BtnType"] {
    display: inline-flex;
    position: relative;
    border: 1px solid var(--blue90);
    border-radius: 4px;
    box-sizing: border-box;
    color: var(--white);
    text-align: center;
    vertical-align: top;
    background-color: var(--blue90);
    justify-content: center;
    align-items: center;
}

.my-topic .list li:hover {
    border-color: #eff1f5;
    background: #fff;
    box-shadow: 2px 6px 16px 0 rgba(17, 42, 128, 0.08);
}

.my-topic .list li:hover dl {
    -webkit-transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    -webkit-transform: translateY(-70px);
    -ms-transform: translateY(-70px);
    transform: translateY(-70px);
}

.my-topic .list li:hover .copy {
    opacity: 0;
}

.my-topic .list li:hover .BtnType {
    opacity: 1;
}

.my-folio .link-folio:hover {
    background: #292e41;
}

.my-topic .list .BtnType:hover {
    background: var(--blue20);
}
.my-topic .list li+li {
    margin-left: 16px;
}

.my-topic .list li.job dt {
    display: -webkit-box;
    height: 48px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.my-topic .list dd.company-name {
    overflow: hidden;
    margin-top: 5px;
    color: #5c667b;
    font-size: 14px;
    line-height: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.my-topic .list dd.date {
    margin-top: 9px;
    color: #5c667b;
    font-size: 13px;
    line-height: 17px;
}

.wrap-my-home .col2 {
    float: right;
    position: relative;
    z-index: 2;
    padding-bottom: 136px;
    width: 307px;
}

.wrap-my-home .my-banner {
    padding: 38px 0 40px 40px;
}

.wrap-my-home .my-banner img {
    display: block;
    width: 267px;
    height: 314px;
}

/* 지원 현황 */
.my-notification .slider.my li:nth-of-type(4n+1), .my-notification .slider.apply li {
    border-color: #5189fa;
    background: #5189fa;
}
.my-notification .slider .btn-card>span .BtnType, .my-notification .slider .btn-card .BtnType {
    width: 100%;
    color: var(--blue90);
    border-color: var(--blue90);
    background: var(--white);
}

.my-notification .slider .btn-card>span+span {
    padding-left: 8px;
}

.my-notification .slider .spacer {
    line-height: 190px;
    padding: 0 23px;
}

.my-notification .slider .spacer .title {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.my-notification .slider .title {
    overflow: hidden;
    margin-bottom: 12px;
    width: 100%;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.my-notification .slider .spacer .title a {
    display: inline-block;
    margin-top: 8px;
    color: #f8fafc;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    text-decoration: underline;
    vertical-align: top;
}
.my-notification .slider .btn-card>span .BtnType:hover, .my-notification .slider .btn-card .BtnType:hover {
    background: var(--blue20);
}

.my-notification .slider li:hover .spacer .title a {
    color: #8491a7;
}
.my-notification .slider li:hover .spacer .title a:hover {
    color: #373f57;
}

.wrap-slider {
    display: none; /* 기본적으로 모든 슬라이더를 숨깁니다 */
}
.wrap-slider.active {
    display: block; /* active 클래스가 붙은 슬라이더만 보이도록 설정 */
}

.nest-standby-banner{
    display:block;
}



/* wrap-slider 설정 */
.wrap-slider {
    max-width: 1248px;
}

/* bx-viewport 설정 */
.bx-viewport {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 190px;
}

/* slider 설정 */
.slider {
    width: 4215%;
    position: relative;
    transition-duration: 0s;
    transform: translate3d(0px, 0px, 0px);
}

/* slider-item 공통 설정 */
.slider li {
    float: left;
    list-style: none;
    position: relative;
    width: 300px;
    margin-right: 16px;
}
