#container {
    position: relative;
}

body {
    min-width: 1580px;
}

/*헤더*/
#position-header.integrated-header {
    padding: 18px 40px 0 0;
    border-bottom: 1px solid #eaedf4;
    display: flex;
    justify-content: space-between;
    background-color: var(--white);
    min-width: 700px;
}

#position-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
    padding: 24px 40px 0 0;
    height: 64px;
    box-sizing: border-box;
    font-size: 0;
    text-align: right;
}

#position-header:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 272px;
    z-index: 1;
    background: #fff;
    content: "";
    opacity: 0.95;
}

#position-header.integrated-header .area-logo {
    margin-left: 64px;
    padding-top: 4px;
}

#position-header.integrated-header .area-logo .link-position-logo {
    margin-right: 6px;
}
.area-logo .link-position-logo svg{
    width:82px;
    height:21px;
    background: url('/static/images/my-page/position-logo-small.svg') no-repeat;
}

#position-section {
    display: grid;
    grid-template-areas:
        "gnb main"
        "gnb footer";
    grid-template-rows: 1fr auto;
    grid-template-columns: auto 1fr;
    width: 100%;
    min-width: 1560px;
    min-height: 100%;
    box-sizing: border-box;
}

.position-gnb-section #position-gnb-wrap.position-gnb-wrap {
    margin-top: 64px;
    padding-top: 36px;
}

.position-gnb-section #position-gnb-wrap {
    padding-top: 96px;
}

#position-gnb-wrap {
    grid-area: gnb;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 25;
    width: 271px;
    border-right: 1px solid #f0f0f0;
    background: #fff;
    transition: width 0.5s;
}

#position-gnb-wrap .gnb {
    margin: 0 auto;
    width: 240px;
}

#position-gnb-wrap .gnb>li {
    position: relative;
}

#position-gnb-wrap .gnb>li>a {
    display: block;
    position: relative;
    padding: 10px 0 14px 56px;
    height: 44px;
    box-sizing: border-box;
}

#position-gnb-wrap .gnb>li.only.selected>a:before {
    opacity: 1;
}

#position-gnb-wrap .gnb>li.selected>a:before {
    background: #eff5ff;
}

#position-gnb-wrap .gnb>li>a:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 240px;
    height: 44px;
    border-radius: 5px;
    background: #f4f6fa;
    transition: opacity 0.5s;
    content: "";
    opacity: 0;
}

#position-gnb-wrap .gnb>li>a>svg {
    display: block;
    position: absolute;
    top: 10px;
    left: 16px;
    z-index: 3;
    width: 24px;
    height: 24px;
}

#position-gnb-wrap .gnb>li.selected>a svg use {
    color: #4876ef;
}

#position-gnb-wrap .gnb>li>a>svg use {
    color: #afbac8;
}

#position-gnb-wrap .gnb>li.selected>a>.txt {
    color: #4876ef;
    font-weight: bold;
}

#position-gnb-wrap .gnb>li>a>.txt {
    display: block;
    position: relative;
    z-index: 2;
    color: #5c667b;
    font-size: 15px;
    line-height: 24px;
}

#position-gnb-wrap .gnb>li+li {
    margin-top: 8px;
}

#position-gnb-wrap .gnb>li {
    position: relative;
}

/* 바디 */
#position-wrap {
    grid-area: main;
    display: table-row;
    width: 100%;
    height: 100%;
}

#content {
    position: relative;
    margin: 88px auto 136px;
    width: 1248px;
}

.wrapper-narrow .wrap-title {
    margin-bottom: 45px;
}

.wrap-title {
    color: #373f57;
    font-size: 36px;
    font-weight: bold;
    line-height: 56px;
}

.update-password-wrap {
    margin: 56px auto 0;
    width: 500px;
    font-size: 14px;
    line-height: 1.43;
}

.update-password-box {
    color: var(--gray110);
    font-size: 17px;
    line-height: 25px;
    margin-bottom: 36px;
    background-color: var(--gray10);
    border-radius: 15px;
    padding: 24px;
    text-align: center;
}

.update-password-desc {
    height: 24px;
    color: var(--gray110);
    font-size: 15px;
    line-height: 20px;
}

.update-password-table {
    margin-top: 24px;
    width: 100%;
    border-collapse: collapse;
    color: var(--gray90);
    table-layout: fixed;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    font-size: inherit;
    line-height: 100%;
}

.update-password-table th {
    width: 144px;
    line-height: 50px;
    vertical-align: top;
}

.update-password-table th, .update-password-table td {
    padding: 16px 0;
    border-bottom: 1px solid var(--gray30);
    text-align: left;
}

.update-password-table .type-button {
    width: 320px;
    box-sizing: border-box;
}

.TypoBox.TypeBtn {
    display: flex;
    align-items: center;
}

.TypoBox {
    display: inline-block;
    position: relative;
    border: 1px solid var(--gray70);
    border-radius: 4px;
    box-sizing: border-box;
    background-color: var(--white);
}

.TypoBox:hover {
    background: var(--gray20);
}

.TypoBox.TypeBtn .Typo {
    width: auto;
}

.TypoBox .Typo.SizeL {
    padding: 12px;
    height: 46px;
    font-size: 16px;
    line-height: 24px;
}

.TypoBox .Typo {
    padding: 8px 12px;
    width: 100%;
    height: 38px;
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    color: var(--gray100);
    font-size: 14px;
    line-height: 20px;
    background: none;
}
.update-password-table .type-button .Typo {
    width: 100%;
}

.update-password-table .btn-toggle {
    margin-right: 16px;
    width: 24px;
    height: 24px;
    color: #afbac8;
    z-index: 1;
}

.update-password-table .btn-toggle>svg {
    width: 100%;
    height: 100%;
}

.update-password-new th, .update-password-new td {
    padding-bottom: 6px;
    border-bottom: 0;
}
.update-password-table .verified-result {
    display: none;
    margin-top: 12px;
}

.verified-result.level-0 .verified-result-bar span, .verified-result.level-1 .verified-result-bar span:not(:first-child), .verified-result.level-2 .verified-result-bar span:nth-of-type(2)~span, .verified-result.level-3 .verified-result-bar span:nth-of-type(n + 3)~span, .verified-result.level-4 .verified-result-bar span:nth-of-type(n + 4)~span {
    background-color: var(--gray30);
}
.verified-result.level-3, .verified-result.level-4, .verified-result.level-5 {
    display: block;
    color: var(--blue80);
}
.verified-result.level-3 .verified-result-bar span {
    background-color: var(--blue50);
}
.verified-result.level-5 .verified-result-bar span {
    background-color: #3769ed;
}

.verified-result.level-4 .verified-result-bar span {
    background-color: var(--blue70);
}
.verified-result.level-1 .verified-result-bar span, .verified-result.level-2 .verified-result-bar span {
    background-color: var(--coral90);
}
.verified-result.level-0, .verified-result.level-1, .verified-result.level-2 {
    display: block;
    color: var(--coral90);
}




.update-password-table .verified-result-bar span:first-child {
    margin-left: 2px;
}


.update-password-table .verified-result-bar span {
    float: left;
    margin-left: 4px;
    width: 60px;
    height: 4px;
    border-radius: 2px;
}

.update-password-table .verified-result-bar:after {
    display: table;
    clear: both;
    content: "";
}

.update-password-table .verified-result-text {
    margin: 8px 0;
    width: 320px;
    font-size: 13px;
    line-height: 1.54;
}

.update-password-new+tr th, .update-password-new+tr td {
    padding-top: 6px;
}

.update-password-caution {
    margin: 40px 0 56px;
    width: 470px;
    color: var(--gray70);
    font-size: 14px;
    line-height: 1.43;
}

.password-caution-title {
    display: inline-block;
    margin-bottom: 8px;
    height: 24px;
    font-weight: bold;
}

.update-password-caution .icon-exclam {
    width: 24px;
    height: 24px;
    color: var(--gray70);
    vertical-align: middle;
}

.password-caution-list>li {
    padding-left: 1em;
    word-break: keep-all;
}

.password-caution-list>li:before {
    margin-left: -0.75em;
    padding-right: 0.25em;
    color: var(--gray90);
    content: "·";
}

.password-caution-list>li>strong {
    color: var(--gray110);
    font-weight: normal;
}

.password-caution-list>li {
    padding-left: 1em;
    word-break: keep-all;
}

.update-password-btns {
    margin: 0 auto;
    text-align: center;
}

.update-password-btns .BtnType {
    width: 150px;
}

[class*="BtnType"].BlueInvert {
    border-color: var(--blue90);
    color: var(--blue90);
    background: var(--white);
}

[class*="BtnType"].SizeL {
    padding: 10px 15px 12px;
    height: 48px;
    font-size: 16px;
    line-height: 24px;
}

[class*="BtnType"] {
    display: inline-flex;
    position: relative;
    border: 1px solid var(--blue90);
    border-radius: 4px;
    box-sizing: border-box;
    color: var(--white);
    text-align: center;
    vertical-align: top;
    background-color: var(--blue90);
    justify-content: center;
    align-items: center;
}

.update-password-btns .BtnType+.BtnType {
    margin-left: 8px;
}

[class*="BtnType"].BlueInvert:hover {
    background: var(--blue20);
}

[class*="BtnType"]:hover {
    border-color: var(--blue100);
    background-color: var(--blue100);
}

.svg-pattern{
    display: none;
}