.join-header {
    display: flex;
    height: 64px;
    border-bottom: 1px solid #eaedf4;
    line-height: 64px;
    justify-content: space-between;
}

.join-header .area-logo {
    margin-left: 64px;
}

.join-header .area-logo .link-saramin-logo {
    margin-right: 6px;
}

a:link, a:visited, a:active, a:hover {
    text-decoration: none;
}

.join-header .area-util {
    margin-right: 64px;
}

.join-header .area-util .util {
    display: flex;
    height: 64px;
}

ol, ul, li {
    list-style-type: none;
}


.join-header .area-util .util-item {
    display: flex;
    align-items: center;
}

.join-header .area-util .util-menu {
    display: flex;
    color: var(--gray110);
    font-size: 13px;
    line-height: 17px;
    align-items: center;
}

.join-header .area-util .menu-saramin:before {
    background-image: url(/static/images/login/saramin-home.svg);
}

.join-header .area-util .util-menu:before {
    margin-right: 5px;
    width: 18px;
    height: 18px;
    content: "";
}

.join-page-wrap {
    overflow: hidden;
}

.join-page-wrap .join-content {
    float: center;
    width: 50%;
}


.join-page-wrap .join-content .join-box {
    float: right;
    margin-bottom: 150px;
    padding-right: 104px;
    width: 320px;
}

.login-input-wrap, .pop-login-layer {
    --common-a-hover-color: #3769ed;
}

.login-input-wrap .tab-member-type {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 16px;
}

.login-input-wrap .tab-member-type li {
    flex: 1 1 50%;
    text-align: center;
}

.login-input-wrap .tab-member-type li .btn-tab {
    position: relative;
    color: #8491a7;
    font-size: 24px;
    line-height: 34px;
    width: 100%;
}

.login-input-wrap .tab-member-type li .btn-tab.active {
    font-weight: 700;
    color: #373f73;
}

button {
    overflow: visible;
    background-color: transparent;
}

button, label {
    cursor: pointer;
}

.login-input-wrap .tab-member-type li .btn-tab.active:before {
    position: absolute;
    left: 50%;
    bottom: -4px;
    transform: translateX(-50%);
    width: 80%;
    height: 3px;
    content: "";
    background-color: #4876ef;
}

.login-input-wrap .tab-member-type li .btn-tab {
    position: relative;
    color: #8491a7;
    font-size: 24px;
    line-height: 34px;
    width: 100%;
}


.login-input-wrap .social-login-tit .tit {
    text-align: center;
    font-size: 15px;
    color: #5c667b;
    line-height: 24px;
}

.login-input-wrap .social-login-tit .tit:before {
    margin-right: 8px;
}

.login-input-wrap .social-login-tit .tit:before, .login-input-wrap .social-login-tit .tit:after {
    width: 60px;
    height: 1px;
    background-color: #eaedf4;
    display: inline-block;
    vertical-align: super;
    content: '';
}

.login-input-wrap .social-login-tit .tit:after {
    margin-left: 8px;
}

.login-input-wrap .social-login-tit .tit:before, .login-input-wrap .social-login-tit .tit:after {
    width: 60px;
    height: 1px;
    background-color: #eaedf4;
    display: inline-block;
    vertical-align: super;
    content: '';
}

.login-input-wrap .social-login {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-top: 24px;
}

.icon-kakao{
    background: url(/static/images/login/kakao-login-medium-wide.png);
    background-repeat: no-repeat;
    margin-left: 10px;
    height: 45px;
}

/* .social-login{
    height: 70px;
} */

.login-input-wrap .signup-forgotten .link-rater {
    text-decoration: unset;
    margin-left: auto;
}

.join-page-wrap .join-content .join-box .social-login-box .social-login-tit {
    padding-top: 20px;
}

.join-page-wrap .join-content .join-box .join-form {
    margin: 40px 0;
}

[class*="btn-type"] {
    display: inline-flex;
    position: relative;
    border: 1px solid var(--blue90);
    border-radius: 4px;
    box-sizing: border-box;
    color: var(--white);
    text-align: center;
    vertical-align: top;
    background-color: var(--blue90);
    justify-content: center;
    align-items: center;
}

.join-page-wrap .join-content .join-box .join-form .login-btn {
    width: 100%;
    border-color: var(--blue90);
    color: var(--blue90);
    background: var(--white);
}

[class*="btn-type"].size-l {
    padding: 10px 15px 12px;
    height: 48px;
    font-size: 16px;
    line-height: 24px;
}

.join-page-wrap .join-content .join-box .login-bottom p {
    color: #5c667b;
    font-size: 14px;
}

.join-page-wrap .join-content .join-box .login-bottom {
    margin-top: 40px;
    text-align: center;
}

.join-page-wrap .join-content .join-box .login-bottom p a {
    display: inline-block;
    margin-left: 4px;
    color: #373f57;
    text-decoration: underline;
}

.join-page-wrap .join-banner-wrap {
    overflow: hidden;
    position: relative;
    background-color: #deebff;
}

.join-page-wrap .join-content {
    display: flex;
    align-items: center;
    width: 100%;
}

.join-page-wrap{
    display: flex;
    align-items: center;

}
.join-page-wrap .join-banner-wrap {
    overflow: hidden;
    position: relative;
    background-color: #deebff;
}



.join-page-wrap .join-banner-wrap .intro {
    height: calc(100vh - 66px);
}
.join-page-wrap .join-banner-wrap .intro .section {
    height: 900px;
    background-size: 100%;
}
.join-page-wrap .join-banner-wrap .intro .section.info04 {
    background: url(https://www.saraminimage.co.kr/login/onboarding/info4.png) no-repeat;
    background-position: right center;
}

#sri-wrap {
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center;     /* 수직 가운데 정렬 */
    height: 100vh;           /* 화면 높이를 100% 채움 */
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  /* 콘텐츠들을 세로로 나열 */
}
