<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/css/main.css" />
        <link
            rel="stylesheet"
            href="/static/css/community/community-post-list.css"
        />
        <title>게시글 목록</title>
    </head>
    <body>
        <div id="sri-section" class="layout-full">
            <div id="sri-wrap">
                <div id="content">
                    <div class="company-honest-qna">
                        <input
                            type="hidden"
                            name="qna-action"
                            value="sub"
                            id="qna-action"
                        />
                        <input
                            type="hidden"
                            name="keyword"
                            value=""
                            id="keyword"
                        />
                        <input
                            type="hidden"
                            name="qna-search-type"
                            value="hashtag"
                            id="qna-search-type"
                        />
                        <input type="hidden" name="csn" value="" id="csn" />
                        <input
                            type="hidden"
                            name="influencer"
                            value=""
                            id="influencer"
                        />
                        <input type="hidden" name="type" value="" id="type" />
                        <div class="contents-container">
                            <div class="sub-top-wrap tag-list">
                                <span class="sub-title-tag">
                                    <strong class="stit"
                                        >포지셔너 커뮤니티</strong
                                    >
                                </span>
                                <div class="sub-title-desc">
                                    현재까지 등록된 전체 게시글입니다.
                                </div>
                            </div>

                            <!-- <div class="wrap-community-topic navigation">
                                <div class="wrap-slide-category">
                                    <div class="bx-wrapper">
                                        <div
                                            class="bx-viewport"
                                            aria-live="polite"
                                        >
                                            <ul
                                                class="list-category js-category"
                                            >
                                                <li aria-hidden="false">
                                                    <a
                                                        class="item-cate selected"
                                                        href=""
                                                    >
                                                        <span>전체글</span>
                                                    </a>
                                                </li>
                                                <li aria-hidden="false">
                                                    <a
                                                        class="item-cate"
                                                        href=""
                                                    >
                                                        <span>신입</span>
                                                    </a>
                                                </li>
                                                <li aria-hidden="false">
                                                    <a
                                                        class="item-cate"
                                                        href=""
                                                    >
                                                        <span>취준</span>
                                                    </a>
                                                </li>
                                                <li aria-hidden="false">
                                                    <a
                                                        class="item-cate"
                                                        href=""
                                                    >
                                                        <span>채용공고</span>
                                                    </a>
                                                </li>
                                                <li aria-hidden="false">
                                                    <a
                                                        class="item-cate"
                                                        href=""
                                                    >
                                                        <span>자소서</span>
                                                    </a>
                                                </li>
                                                <li aria-hidden="false">
                                                    <a
                                                        class="item-cate"
                                                        href=""
                                                    >
                                                        <span>면접</span>
                                                    </a>
                                                </li>
                                                <li aria-hidden="false">
                                                    <a
                                                        class="item-cate"
                                                        href=""
                                                    >
                                                        <span>Q&amp;A</span>
                                                    </a>
                                                </li>
                                                <li aria-hidden="false">
                                                    <a
                                                        class="item-cate"
                                                        href=""
                                                    >
                                                        <span>이직</span>
                                                    </a>
                                                </li>
                                                <li aria-hidden="false">
                                                    <a
                                                        class="item-cate"
                                                        href=""
                                                    >
                                                        <span>퇴사</span>
                                                    </a>
                                                </li>
                                                <li aria-hidden="false">
                                                    <a
                                                        class="item-cate"
                                                        href=""
                                                    >
                                                        <span>잡담</span>
                                                    </a>
                                                </li>
                                                <li aria-hidden="false">
                                                    <a
                                                        class="item-cate"
                                                        href=""
                                                    >
                                                        <span
                                                            >커리어-콘텐츠</span
                                                        >
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div
                                            class="bx-controls bx-has-controls-direction"
                                        >
                                            <div class="bx-controls-direction">
                                                <button
                                                    type="button"
                                                    class="bx-prev disabled"
                                                >
                                                    <span class="blind"
                                                        >이전</span
                                                    >
                                                </button>
                                                <button
                                                    type="button"
                                                    class="bx-next"
                                                >
                                                    <span class="blind"
                                                        >다음</span
                                                    >
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->

                            <div class="search-form">
                                <div class="list-num-tit sub">
                                    전체 <strong>64,840</strong>건
                                </div>
                                <div class="box-search">
                                    <div
                                        class="input-keyword typo-box type-btn"
                                    >
                                        <label class="blind">검색</label>
                                        <input
                                            type="text"
                                            name="input-keyword"
                                            id="input-keyword"
                                            value=""
                                            placeholder="다른 사람들은 어떤 이야기를 할까?"
                                            class="typo"
                                            title="키워드, 기업명 입력"
                                        />
                                        <button
                                            type="button"
                                            class="spr btn-search"
                                        >
                                            <span class="blind">검색</span>
                                            <svg class="icon-search">
                                                <use
                                                    xlink:href="#svg-my-8"
                                                ></use>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="qna-list-wrap">
                                <div class="qna-list-sort">
                                    <div class="inp-box">
                                        <select
                                            name="option-select-category"
                                            title="직무·직업 전체"
                                        >
                                            <option value="">
                                                직무·직업 전체
                                            </option>
                                            <option value="16">
                                                기획·전략
                                            </option>
                                            <option value="14">
                                                마케팅·홍보·조사
                                            </option>
                                            <option value="3">
                                                회계·세무·재무
                                            </option>
                                            <option value="5">
                                                인사·노무·HRD
                                            </option>
                                            <option value="4">
                                                총무·법무·사무
                                            </option>
                                            <option value="2">
                                                IT개발·데이터
                                            </option>
                                            <option value="15">디자인</option>
                                            <option value="8">
                                                영업·판매·무역
                                            </option>
                                            <option value="21">
                                                고객상담·TM
                                            </option>
                                            <option value="18">
                                                구매·자재·물류
                                            </option>
                                            <option value="12">
                                                상품기획·MD
                                            </option>
                                            <option value="7">
                                                운전·운송·배송
                                            </option>
                                            <option value="10">서비스</option>
                                            <option value="11">생산</option>
                                            <option value="22">
                                                건설·건축
                                            </option>
                                            <option value="6">의료</option>
                                            <option value="9">
                                                연구·R&amp;D
                                            </option>
                                            <option value="19">교육</option>
                                            <option value="13">
                                                미디어·문화·스포츠
                                            </option>
                                            <option value="17">
                                                금융·보험
                                            </option>
                                            <option value="20">
                                                공공·복지
                                            </option>
                                        </select>
                                    </div>
                                    <div class="inp-box line filter">
                                        <span class="chk">
                                            <input
                                                type="checkbox"
                                                id="popular"
                                                class="btn-sort"
                                                value="popular"
                                            />
                                            <label class="lbl" for="popular"
                                                >인기순</label
                                            >
                                        </span>
                                        <span class="chk">
                                            <input
                                                type="checkbox"
                                                id="reg-dt"
                                                class="btn-sort"
                                                value="reg-dt"
                                                checked=""
                                            />
                                            <label class="lbl" for="reg-dt"
                                                >최신순</label
                                            >
                                        </span>
                                        <!-- <span class="chk">
                                            <input
                                                type="checkbox"
                                                id="max-like"
                                                class="btn-sort"
                                                value="max-like"
                                            />
                                            <label class="lbl" for="max-like"
                                                >공감 많은 순</label
                                            >
                                        </span> -->
                                        <span class="chk">
                                            <input
                                                type="checkbox"
                                                id="max-anwr"
                                                class="btn-sort"
                                                value="max-anwr"
                                            />
                                            <label class="lbl" for="max-anwr"
                                                >댓글 많은 순</label
                                            >
                                        </span>
                                    </div>
                                    <button
                                        type="button"
                                        class="btn-type size-l btn-qna-write"
                                    >
                                        게시글 작성
                                    </button>
                                </div>
                                <ul class="qna-list" id="qst-and-ans-list">
                                    <!-- JavaScript로 게시글을 동적으로 추가 -->
                                </ul>
                                <div class="page-box">
                                    <span class="btn-type size-s active"
                                        >1</span
                                    >
                                    <a class="btn-type size-s" href="#">2</a>
                                    <a class="btn-type size-s" href="#">3</a>
                                    <a class="btn-type size-s" href="#">4</a>
                                    <a class="btn-type size-s" href="#">5</a>
                                    <a class="btn-type size-s" href="#">6</a>
                                    <a class="btn-type size-s" href="#">7</a>
                                    <a class="btn-type size-s" href="#">8</a>
                                    <a class="btn-type size-s" href="#">9</a>
                                    <a class="btn-type size-s" href="#">10</a>
                                    <a
                                        class="btn-type size-s btn-next"
                                        type="button"
                                        href="#"
                                    >
                                        다음
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="/static/js/community/community-post-list.js"></script>
</html>
