<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/css/main.css" />
        <link
            rel="stylesheet"
            href="/css/community/community-post-list.css"
        />
        <title>게시글 목록</title>
    </head>
    <body>
        <div id="sri-section" class="layout-full">
            <div id="sri-wrap">
                <div id="content">
                    <div class="company-honest-qna">
                        <input
                            type="hidden"
                            name="qna-action"
                            value="sub"
                            id="qna-action"
                        />
                        <input
                            type="hidden"
                            name="keyword"
                            value=""
                            id="keyword"
                        />
                        <input
                            type="hidden"
                            name="qna-search-type"
                            value="hashtag"
                            id="qna-search-type"
                        />
                        <input type="hidden" name="csn" value="" id="csn" />
                        <input
                            type="hidden"
                            name="influencer"
                            value=""
                            id="influencer"
                        />
                        <input type="hidden" name="type" value="" id="type" />
                        <div class="contents-container">
                            <div class="sub-top-wrap tag-list">
                                <span class="sub-title-tag">
                                    <strong class="stit"
                                        >포지셔너 커뮤니티</strong
                                    >
                                </span>
                                <div class="sub-title-desc">
                                    현재까지 등록된 전체 게시글입니다.
                                </div>
                            </div>

                            <div class="search-form">
                                <div class="list-num-tit sub">
                                    전체 <strong>64,840</strong>건
                                </div>
                                <div class="box-search">
                                    <div
                                        class="input-keyword typo-box type-btn"
                                    >
                                        <label class="blind">검색</label>
                                        <input
                                            type="text"
                                            name="input-keyword"
                                            id="input-keyword"
                                            value=""
                                            placeholder="다른 사람들은 어떤 이야기를 할까?"
                                            class="typo"
                                            title="키워드, 기업명 입력"
                                        />
                                        <button
                                            type="button"
                                            class="spr btn-search"
                                        >
                                            <span class="blind">검색</span>
                                            <svg class="icon-search">
                                                <use
                                                    xlink:href="#svg-my-8"
                                                ></use>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="qna-list-wrap">
                                <div class="qna-list-sort">
                                    <div class="inp-box line filter">
                                        <span class="chk">
                                            <input
                                                type="checkbox"
                                                id="popular"
                                                class="btn-sort"
                                                value="popular"
                                            />
                                            <label class="lbl" for="popular"
                                                >인기순</label
                                            >
                                        </span>
                                        <span class="chk">
                                            <input
                                                type="checkbox"
                                                id="reg-dt"
                                                class="btn-sort"
                                                value="reg-dt"
                                                checked=""
                                            />
                                            <label class="lbl" for="reg-dt"
                                                >최신순</label
                                            >
                                        </span>
                                        <span class="chk">
                                            <input
                                                type="checkbox"
                                                id="max-anwr"
                                                class="btn-sort"
                                                value="max-anwr"
                                            />
                                            <label class="lbl" for="max-anwr"
                                                >댓글 많은 순</label
                                            >
                                        </span>
                                    </div>
                                    <button
                                        type="button"
                                        class="btn-type size-l btn-qna-write"
                                    >
                                        게시글 작성
                                    </button>
                                </div>
                                <ul class="qna-list" id="qst-and-ans-list">
                                    <!-- JavaScript로 게시글을 동적으로 추가 -->
                                </ul>
                                <div class="page-box">
                                    <span class="btn-type size-s active"
                                        >1</span
                                    >
                                    <a class="btn-type size-s" href="#">2</a>
                                    <a class="btn-type size-s" href="#">3</a>
                                    <a class="btn-type size-s" href="#">4</a>
                                    <a class="btn-type size-s" href="#">5</a>
                                    <a class="btn-type size-s" href="#">6</a>
                                    <a class="btn-type size-s" href="#">7</a>
                                    <a class="btn-type size-s" href="#">8</a>
                                    <a class="btn-type size-s" href="#">9</a>
                                    <a class="btn-type size-s" href="#">10</a>
                                    <a
                                        class="btn-type size-s btn-next"
                                        type="button"
                                        href="#"
                                    >
                                        다음
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="/js/community/community-post-list.js"></script>
</html>
