<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>현직자 인터뷰 - 목록</title>
        <link rel="stylesheet" href="/static/css/main.css" />
        <link
            rel="stylesheet"
            href="/static/css/community/interview-incumbent-list.css"
        />
    </head>
    <body>
        <div id="sri-section">
            <div id="sri-wrap">
                <div id="content">
                    <div class="wrap-title-recruit title-type2">
                        <h1 class="title-common">현직자 인터뷰</h1>
                    </div>
                    <div class="wrap-category-type">
                        <ul class="list-category">
                            <li class="on">
                                <a
                                    onmousedown="try{n-trackEvent('public', 'job-interview', 'category', '');}catch(e){}"
                                >
                                    전체
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="wrap-board board-interview">
                        <div class="search-area">
                            <div class="wrap-count">총 <b>915</b>건</div>
                            <div class="search-right sort">
                                <div class="searchTypoBox">
                                    <form
                                        name="frm"
                                        id="frm"
                                        method="get"
                                        action="/zf-user/career-information/senior-list"
                                    >
                                        <input
                                            type="hidden"
                                            name="cat-mcls"
                                            id="cat-mcls"
                                            value=""
                                        />
                                        <input
                                            type="text"
                                            class="inpTypo"
                                            name="keyword"
                                            id="search-keyword"
                                            value=""
                                            style="width: 230px"
                                            placeholder="제목 또는 기업명을 입력하세요."
                                        />
                                        <button
                                            type="submit"
                                            class="btnTypoSearch"
                                            id="btn-company-search"
                                            onmousedown="try{n-trackEvent('public', 'job-interview' , 'search', '');}catch(e){}"
                                        >
                                            검색
                                        </button>
                                        <button
                                            type="button"
                                            class="btnTypoReset"
                                            onclick="location.href='/zf-user/career-information/senior-list';return false;"
                                        >
                                            선택초기화
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="recruilt-list-wrap wrap-job-interview">
                        <div class="job-interview-list" id="listTop">
                            <ul class="wrap-list-interview"></ul>
                        </div>
                        <div class="PageBox">
                            <span class="BtnType SizeS">1</span>
                            <a class="BtnType SizeS" data-page="2" page="2"
                                ><span>2</span></a
                            >
                            <a class="BtnType SizeS" data-page="3" page="3"
                                ><span>3</span></a
                            >
                            <a class="BtnType SizeS" data-page="4" page="4"
                                ><span>4</span></a
                            >
                            <a class="BtnType SizeS" data-page="5" page="5"
                                ><span>5</span></a
                            >
                            <a class="BtnType SizeS" data-page="6" page="6"
                                ><span>6</span></a
                            >
                            <a class="BtnType SizeS" data-page="7" page="7"
                                ><span>7</span></a
                            >
                            <a class="BtnType SizeS" data-page="8" page="8"
                                ><span>8</span></a
                            >
                            <a class="BtnType SizeS" data-page="9" page="9"
                                ><span>9</span></a
                            >
                            <a class="BtnType SizeS" data-page="10" page="10"
                                ><span>10</span></a
                            >
                            <a
                                class="BtnType SizeS BtnNext"
                                data-page="11"
                                title="다음"
                                >다음</a
                            >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="/static/js/community/interview-incumbent-list.js"></script>
</html>
