<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>현직자 인터뷰 - 상세 보기</title>
        <link rel="stylesheet" href="../../static/css/main.css" />
        <link
            rel="stylesheet"
            href="../../static/css/community/interview-incumbent-inquiry.css"
        />
    </head>
    <body>
        <div id="sri-section">
            <div id="sri-wrap">
                <div id="content">
                    <div class="wrap-interview-part">
                        <h1 class="blind">
                            에스디생명공학 브랜딩과 마케팅커뮤니케이션의
                            전반적인 업무를 총괄해요
                        </h1>
                        <div class="area-intro">
                            <div class="mark-img">
                                <img
                                    src="https://pds.saramin.co.kr/career-information/asset/202409/20/sk3nrb_7jdx-2so1pr_asset.png"
                                    alt="직무인터뷰 사진"
                                />
                            </div>
                            <div class="box-info">
                                <p class="company-name">
                                    <em
                                        class="label-ing"
                                        onmousedown="try{n-trackEvent('public', 'job-interview' , 'recruiting-now', '');}catch(e){}"
                                        >채용중</em
                                    ><span class="in-name">에스디생명공학</span>
                                </p>
                                <p class="title">
                                    브랜딩과 마케팅커뮤니케이션의 전반적인
                                    업무를 총괄해요
                                </p>
                                <div class="box-txt">
                                    <p class="company-part">마케팅팀 김리원</p>
                                    <div class="day-line">
                                        <span class="day">24.09.20</span>
                                        <span class="view-count">1021</span>
                                        <div class="box-sns">
                                            <div class="share">
                                                <button
                                                    type="button"
                                                    class="spr-rview btn-share"
                                                    onmousedown="try{n-trackEvent('public', 'job-interview' , 'share', '');}catch(e){}"
                                                >
                                                    공유하기
                                                </button>
                                                <ul
                                                    class="spr-rview list-share"
                                                >
                                                    <li>
                                                        <a
                                                            href="http://www.facebook.com/share.php?api-key=137906922916817&amp;display=popup&amp;u=https%3A%2F%2Fwww.saramin.co.kr%2Fzf-user%2Fcareer-information%2Fsenior-view%3Fdoc-idx%3D24045"
                                                            class="spr-rview facebook"
                                                            onclick="window.open(this.href, this.target, 'width=578,height=380'); return false;"
                                                            title="페이스북 공유하기"
                                                            ><span class="blind"
                                                                >페이스북</span
                                                            ></a
                                                        >
                                                    </li>
                                                    <li>
                                                        <a
                                                            href="http://twitter.com/share?url=https%3A%2F%2Fwww.saramin.co.kr%2Fzf-user%2Fcareer-information%2Fsenior-view%3Fdoc-idx%3D24045&amp;text=%EB%B8%8C%EB%9E%9C%EB%94%A9%EA%B3%BC%20%EB%A7%88%EC%BC%80%ED%8C%85%EC%BB%A4%EB%AE%A4%EB%8B%88%EC%BC%80%EC%9D%B4%EC%85%98%EC%9D%98%20%EC%A0%84%EB%B0%98%EC%A0%81%EC%9D%B8%20%EC%97%85%EB%AC%B4%EB%A5%BC%20%EC%B4%9D%EA%B4%84%ED%95%B4%EC%9A%94%20-%20%EC%97%90%EC%8A%A4%EB%94%94%EC%83%9D%EB%AA%85%EA%B3%B5%ED%95%99%20%23saramin"
                                                            class="spr-rview twitter"
                                                            onclick="window.open(this.href, this.target, 'width=554,height=454'); return false;"
                                                            title="트위터 공유하기"
                                                            ><span class="blind"
                                                                >트위터</span
                                                            ></a
                                                        >
                                                    </li>
                                                    <li>
                                                        <button
                                                            type="button"
                                                            class="spr-rview copy-url"
                                                            data-url="https://www.saramin.co.kr/zf-user/career-information/senior-view?doc-idx=24045"
                                                            title="주소 복사하기"
                                                        >
                                                            <span class="blind"
                                                                >URL복사</span
                                                            >
                                                        </button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tag-line">
                                    <a
                                        href="/zf-user/career-information/senior-list?keyword=㈜에스디생명공학"
                                        onmousedown="try{n-trackEvent('public', 'job-interview' , 'hashtag', '1');}catch(e){}"
                                        >#㈜에스디생명공학</a
                                    >
                                    <a
                                        href="/zf-user/career-information/senior-list?keyword=브랜드마케팅"
                                        onmousedown="try{n-trackEvent('public', 'job-interview' , 'hashtag', '2');}catch(e){}"
                                        >#브랜드마케팅</a
                                    >
                                    <a
                                        href="/zf-user/career-information/senior-list?keyword=브랜딩"
                                        onmousedown="try{n-trackEvent('public', 'job-interview' , 'hashtag', '3');}catch(e){}"
                                        >#브랜딩</a
                                    >
                                </div>
                            </div>
                        </div>
                        <div class="area-interview-thebody">
                            <p class="top-title">
                                <i class="ico-quotation-marks up-mark">따옴표</i
                                >모든 업무에서 방향성과 디테일이 가장 중요하다고
                                생각해요<i class="ico-quotation-marks down-mark"
                                    >따옴표</i
                                >
                            </p>
                            <div class="subiti-type02">
                                <div class="content-interview interview-type05">
                                    <p class="sub-title"></p>
                                    <div class="box-inner mix-cont">
                                        <div class="img">
                                            <img
                                                src="http://www.saraminimage.co.kr/event/contents/2019interview/snp_sero.png"
                                                alt="직무인터뷰 관련 사진"
                                            />
                                        </div>
                                        <div class="box-question">
                                            <p class="question">
                                                <em class="q-num">Q1</em
                                                >자기소개 부탁드립니다.
                                            </p>
                                            <div class="answer">
                                                안녕하세요 하이퍼액티브 더마
                                                코스메틱 브랜드 Snp 마케팅팀의
                                                김리원이라고 합니다.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-inner inner-position-r">
                                        <div class="box-question">
                                            <p class="question">
                                                <em class="q-num">Q2</em
                                                >담당하고 계신 업무를 소개해
                                                주세요.
                                            </p>
                                            <div class="answer">
                                                브랜딩과 마케팅 커뮤니케이션의
                                                전반적인 업무를 총괄하고
                                                있습니다.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-inner">
                                        <div class="box-question">
                                            <p class="question">
                                                <em class="q-num">Q3</em
                                                >마케팅의 가장 큰 매력은
                                                무엇인가요?
                                            </p>
                                            <div class="answer">
                                                새로운 캠페인을 기획하고
                                                런칭하는 과정에서 각 액션
                                                아이템의 디테일과 퀄리티에 신경
                                                쓰며 긴장감과 압박 속에서
                                                노력하지만, 소비자들로부터
                                                긍정적인 피드백을 받고 매출
                                                성과가 나올 때 큰 보람을
                                                느낍니다. 특히 브랜드와 제품이
                                                성장하는 것을 보면서, 저뿐만
                                                아니라 함께 일한 팀원들 모두 한
                                                단계 발전했다고 느끼는 순간이
                                                가장 뜻깊습니다.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-inner">
                                        <div class="box-question">
                                            <p class="question">
                                                <em class="q-num">Q4</em>업무를
                                                하며 가장 보람을 느낄 때는
                                                언제인가요?
                                            </p>
                                            <div class="answer">
                                                0에서 시작해 아이데이션을 거쳐
                                                실행 리스트를 하나하나 퍼즐처럼
                                                맞춰가며 프로젝트를 완성하고,
                                                성공적인 성과를 얻었을 때 큰
                                                보람을 느낍니다. 특히 팀워크를
                                                발휘해 함께한 팀원들과 유관 부서
                                                간에 전우애가 형성될 때, '함께'
                                                일하는 것의 진정한 의미를 깨닫고
                                                제가 하는 일에 대한 가치를
                                                실감하게 됩니다.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="content-interview interview-type01">
                                    <p class="sub-title"></p>
                                    <div class="box-inner mix-cont">
                                        <div class="img">
                                            <img
                                                src="http://www.saraminimage.co.kr/event/contents/2019interview/snp_garo.png"
                                                alt="직무인터뷰 관련 사진"
                                            />
                                        </div>
                                        <div class="box-question">
                                            <p class="question">
                                                <em class="q-num">Q5</em
                                                >자신만의 업무 원칙이
                                                있으신가요?
                                            </p>
                                            <div class="answer">
                                                저는 모든 업무에서 방향성과
                                                디테일이 가장 중요하다고
                                                생각합니다. 다양한 의견이
                                                존재하는 환경에서 명확한
                                                방향성이 있을 때, 의사 결정이
                                                신속하고 효과적으로 이루어진다고
                                                보고요. 또한 세부 디테일에서 한
                                                번 더 고민하고 의심해 보는
                                                과정을 거칠 때, 결과물의
                                                완성도가 높아진다고 믿습니다.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-inner">
                                        <div class="box-question">
                                            <p class="question">
                                                <em class="q-num">Q6</em>같은
                                                직무를 준비하는 후배에게
                                                추천하는 활동이 있으신가요?
                                            </p>
                                            <div class="answer">
                                                제 경험상, 마케팅 관련 서적을
                                                많이 읽는 것이 전체적인 흐름을
                                                이해하고 사고를 확장하는 데 큰
                                                도움이 되었습니다. 또한, 관심
                                                있는 브랜드를 딥다이브하여
                                                그들의 전략을 분석해 보는 것도
                                                추천합니다. 시간이 부족하다면,
                                                하루 5-10분 정도 롱블랙이나 Ep9
                                                같은 콘텐츠 구독 서비스나
                                                플랫폼을 통해 다양한 관점을
                                                익히는 것도 좋습니다. 특히,
                                                지원하려는 분야를 명확히 하고,
                                                예를 들어 뷰티 분야라면 '뷰티
                                                덕후'가 되어보는 것을
                                                권장합니다. 특정 분야에 깊이
                                                빠져들수록 소비자의 공감대를
                                                얻는 브랜드 마케터로 성장할 수
                                                있을 거라 생각합니다
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-inner">
                                        <div class="box-question">
                                            <p class="question">
                                                <em class="q-num">Q7</em>커리어
                                                성장을 위해 준비하는 것이
                                                있으신가요?
                                            </p>
                                            <div class="answer">
                                                현재 저는 SNP의 리브랜딩과
                                                재도약을 위한 중요한
                                                프로젝트들에 집중하고 있습니다.
                                                이러한 프로젝트를 성공으로
                                                이끌어내는 것이 목표이며, 이
                                                성공을 바탕으로 향후 5년 내에
                                                저만의 스몰 브랜드를 런칭하는
                                                것이 최종 목표입니다. 비행기가
                                                뜨기 위해서는 어마어마한
                                                에너지와 집중력이 필요하듯, 더
                                                많은 경험을 쌓고 내공을 키우며,
                                                체력을 관리하는 데에도 힘쓰고
                                                있습니다. 목표를 이루기 위해
                                                끊임없이 성장하고자 노력
                                                중입니다.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="content-interview interview-type04">
                                    <p class="sub-title"></p>
                                    <div class="box-inner">
                                        <div class="box-question">
                                            <p class="question">
                                                <em class="q-num">Q8</em>회사의
                                                사내문화 및 분위기는 어떤가요?
                                            </p>
                                            <div class="answer">
                                                SNP에서 가장 큰 장점은 바로
                                                회사의 분위기와 사내 문화입니다.
                                                다양한 직급의 동료들과 소통할 수
                                                있는 '화목한 주'나 '중복
                                                반짝이벤트 시원한 수박화채
                                                드세요' 같은 즐거운 사내
                                                이벤트가 많아요. 또한, 열린
                                                마음을 가진 SD 식구들 덕분에
                                                회사의 분위기가 더욱 활기차고
                                                긍정적으로 발전하고 있는 것
                                                같습니다.
                                            </div>
                                        </div>
                                        <p class="type-title">
                                            <i
                                                class="ico-quotation-marks up-mark"
                                                >따옴표</i
                                            >
                                            창의적 리더십을 갖춘 SD인으로 함께
                                            성장하는 것이 중요하죠<i
                                                class="ico-quotation-marks down-mark"
                                                >따옴표</i
                                            >
                                        </p>
                                    </div>
                                    <div class="box-inner">
                                        <div class="box-question">
                                            <p class="question">
                                                <em class="q-num">Q9</em
                                                >부서에서 가장 재미있었던
                                                에피소드는 무엇인가요?
                                            </p>
                                            <div class="answer">
                                                업무에 치여 지내다 보니 크게
                                                웃을 일이 많지 않았는데, 팀 대항
                                                토너먼트 윷놀이가 기억에
                                                남습니다. 처음에는 저를 포함해
                                                팀원들 모두 이길 의지가 별로
                                                없었지만, 막상 게임이
                                                시작되자마자 모두 눈빛이
                                                달라지고, 숨겨져 있던 엄청난
                                                에너지와 열정이 폭발하면서,
                                                '이기고 말겠다'는 의지로
                                                단합했던 순간이 떠오릅니다. 우리
                                                팀도 놀랐고, 다른 부서도 깜짝
                                                놀랄 만큼 팀워크가 빛났던
                                                시간이었습니다. 늘 조용하고 말
                                                없던 MBTI I 성향의 막내조차
                                                그날만큼은 극 E였죠.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-inner">
                                        <div class="box-question">
                                            <p class="question">
                                                <em class="q-num">Q10</em>자신을
                                                표현할 수 있는 단어와 이유는?
                                            </p>
                                            <div class="answer">
                                                독수리요. 독수리는 사냥을 하기
                                                위해 넓은 시야를 가지고 잠재적인
                                                먹이를 예리한 시력으로
                                                찾아냅니다, 먹이가 감지되면
                                                강력한 속도와 추진력으로
                                                정확하고 민첩하게 날카로운
                                                발톱으로 목표물을 낚아채죠.
                                                이러한 사냥 전략이 마케터와 많이
                                                닮아 있다고 생각합니다 이 뿐
                                                아니라 독수리는 70살 까지 살 수
                                                있지만 40살 정도가 되면 부리와
                                                발톱이 길어져서 사냥을 제대로 할
                                                수 없어지고, 먹이를 눈앞에
                                                두고도 먹을 수 없다고 합니다. 이
                                                때 독수리마다 고통을 감수할 건지
                                                아니면 여기서 당장은 편하더라도
                                                결국 굶어 죽고 삶을 끝낼 건지
                                                선택을 한다고 해요. 제 상황과 참
                                                비슷한 것 같습니다 ㅎㅎ 부리와
                                                발톱을 깎는 독수리의
                                                결단으로부터 인생 교훈을
                                                배운다고 할까요.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box-pagination">
                                <div class="box-pagetxt">
                                    <p class="txt">
                                        세상의 모든 직무에 대한 궁금증이 풀릴
                                        때까지<br /><em
                                            >인공지능 취업플랫폼 사람인</em
                                        >이 함께합니다.
                                    </p>
                                </div>
                                <div class="btn-page prev-page nodata-page">
                                    <p class="text">이전 글이 없습니다.</p>
                                </div>
                                <div class="btn-page next-page">
                                    <a
                                        href="/zf-user/career-information/senior-view?doc-idx=24034&amp;cat-mcls=&amp;keyword="
                                        onmousedown="try{n-trackEvent('public', 'job-interview' , 'previous-next', '');}catch(e){}"
                                    >
                                        <em class="name">데이터마케팅팀</em>
                                        <span>와이어트 류주혜 팀장</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="btn-group al-right">
                            <a
                                href="/zf-user/career-information/senior-list?page=1&amp;cat-mcls=&amp;keyword="
                                class="btn-basic-type02"
                                onmousedown="try{n-trackEvent('public', 'job-interview' , 'list', '');}catch(e){}"
                                >목록</a
                            >
                        </div>
                        <div
                            class="more-recuilt-list"
                            id="company-recruit-list"
                        >
                            <div class="box-tit-data">
                                <p class="small-tit">
                                    마침 <em>여기 회사 이름</em>에서
                                    채용중이네요!
                                </p>
                                <div class="box-r">
                                    <a
                                        href="/zf-user/search?searchword=에스디생명공학"
                                        target="-blank"
                                        class="link-more"
                                        onmousedown="try{n-trackEvent('public', 'job-interview' , 'more-company', '');}catch(e){}"
                                        >더보기</a
                                    >
                                </div>
                            </div>
                            <div class="recruilt-list-wrap">
                                <table
                                    class="common-recruit-list"
                                    summary="채용 리스트"
                                >
                                    <colgroup>
                                        <col width="640px" />
                                        <col width="80px" />
                                        <col width="136px" />
                                        <col width="104px" />
                                    </colgroup>

                                    <tbody id="job-list">
                                        <tr></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="../../static/js/community/interview-incumbent-inquiry.js"></script>
</html>
