<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Footer</title>
        <link rel="stylesheet" href="/static/css/main.css" />
        <link rel="stylesheet" href="/static/css/main/footer.css" />
    </head>
    <body>
        <footer
            id="sri_footer"
            class="sri_footer"
            data-gtm-vis-recent-on-screen6226168_3448="2968"
            data-gtm-vis-first-on-screen6226168_3448="2968"
            data-gtm-vis-total-visible-time6226168_3448="100"
            data-gtm-vis-has-fired6226168_3448="1"
        >
            <div class="wrap_footer">
                <div
                    class="links"
                    role="navigation"
                    aria-label="사람인 서비스 정책 및 이용문의"
                >
                    <ul>
                        <li class="first">
                            <a
                                href="//www.saraminhr.co.kr/"
                                target="_blank"
                                rel="noopener"
                                title="회사소개 새창열기"
                                >회사소개</a
                            >
                        </li>
                        <li>
                            <a
                                href="//saraminhr.team"
                                target="_blank"
                                rel="noopener"
                                title="인재채용 새창열기"
                                >인재채용</a
                            >
                        </li>
                        <li>
                            <a
                                href="/zf_user/help/terms-of-service"
                                title="회원약관 바로가기"
                                >회원약관</a
                            >
                        </li>
                        <li class="bold">
                            <a
                                href="/zf_user/help/privacy"
                                title="개인정보처리방침 바로가기"
                                >개인정보처리방침</a
                            >
                        </li>
                        <li>
                            <a
                                href="https://www.saramin.co.kr/zf_user/popup/email-refuse"
                                onclick="window.open(this.href, '이메일무단수집거부', 'width=380,height=200,left=0,top=0'); return false;"
                                rel="noopener"
                                title="이메일무단수집거부 바로가기"
                                >이메일무단수집거부</a
                            >
                        </li>
                        <li>
                            <a
                                href="https://oapi.saramin.co.kr/"
                                target="_blank"
                                rel="noopener"
                                title="채용정보 API"
                                >채용정보 API</a
                            >
                        </li>
                        <li>
                            <a
                                href="/zf_user/help/inquery/partnership-inquiry-write"
                                target="_self"
                                rel="noopener"
                                title="제휴문의"
                                >제휴문의</a
                            >
                        </li>
                        <li>
                            <a
                                href="http://www.saramin.co.kr/zf_user/help"
                                title="고객센터 바로가기"
                                >고객센터</a
                            >
                        </li>
                    </ul>
                </div>
                <div class="copyright">
                    <div class="help_list">
                        <dl>
                            <dt>사람인 고객센터</dt>
                            <dd>
                                02-2025-4733 (평일 09:00~19:00, 주말공휴일 휴무)
                            </dd>
                        </dl>
                        <dl>
                            <dt>이메일</dt>
                            <dd>
                                <a
                                    href="mailto:help@saramin.co.kr"
                                    target="_blank"
                                    title="이메일 바로가기"
                                    >help@saramin.co.kr</a
                                >
                            </dd>
                        </dl>
                        <dl>
                            <dt>FAX</dt>
                            <dd>02-6937-0039</dd>
                        </dl>
                    </div>
                    <div class="link_channel">
                        <a
                            href="/zf_user/company-review-qst-and-ans"
                            target="_blank"
                            title="커뮤니티 바로가기"
                            class="link_cont"
                            >프로들과 이야기하자! <strong>커뮤니티</strong></a
                        >
                        <dl>
                            <dt>사람인 공식채널</dt>
                            <dd>
                                <a
                                    href="https://www.instagram.com/saramin_official/?hl=ko"
                                    target="_blank"
                                    ><span class="blind"
                                        >사람인 인스타그램</span
                                    ></a
                                >
                            </dd>
                            <dd>
                                <a
                                    href="https://blog.naver.com/saraminapp"
                                    target="_blank"
                                    ><span class="blind"
                                        >사람인 네이버 블로그</span
                                    ></a
                                >
                            </dd>
                            <dd>
                                <a
                                    href="https://post.naver.com/my.nhn?memberNo=5661329"
                                    target="_blank"
                                    ><span class="blind"
                                        >사람인 네이버 포스트</span
                                    ></a
                                >
                            </dd>
                            <dd>
                                <a
                                    href="https://ko-kr.facebook.com/saramin.dream/"
                                    target="_blank"
                                    ><span class="blind"
                                        >사람인 페이스북</span
                                    ></a
                                >
                            </dd>
                            <dd>
                                <a
                                    href="https://www.youtube.com/@saramindream"
                                    target="_blank"
                                    ><span class="blind">사람인 유튜브</span></a
                                >
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
