<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/css/main.css" />
        <link
            rel="stylesheet"
            href="/static/css/customer-service-center/faq.css"
        />
        <title>FAQ</title>
    </head>
    <body>
        <div id="sri_section" class="has_banner">
            <div id="sri_wrap">
                <div id="content">
                    <div class="wrap_title_recruit">
                        <h1 class="title_common">고객센터</h1>
                    </div>
                    <!-- 개인,기업 왔다갔다 -->
                    <div class="wrap_help">
                        <!-- 개인 목록 -->
                        <ul class="tab_list individual">
                            <li class="select">
                                <p class="in-tab ">
                                    <span>개인회원</span>
                                </p>
                            </li>
                            <li>
                                <p class="in-tab tab-enterprise" >
                                    <span>기업회원</span>
                                </p>
                            </li>
                        </ul>
                        <!-- 기업목록 -->
                        <ul class="tab_list enterprise">
                            <li>
                                <p class="in-tab tab-individual">
                                    <span>개인회원</span>
                                </p>
                            </li>
                            <li  class="select">
                                <p class="in-tab">
                                    <span>기업회원</span>
                                </p>
                            </li>
                        </ul>
                        <!-- 목록들 -->
                        <ul class="tab_help">
                            <li class="select">
                                <a href="" class="in-tab">
                                    <span>전체</span>
                                </a>
                            </li>
                            <li class>
                                <a href="" class="in-tab">
                                    <span>이력서 등록 / 관리</span>
                                </a>
                            </li>
                            <li class>
                                <a href="" class="in-tab">
                                    <span>이력서 등록 / 관리</span>
                                </a>
                            </li>
                            <li class>
                                <a href="" class="in-tab">
                                    <span>이력서 등록 / 관리</span>
                                </a>
                            </li>
                            <li class>
                                <a href="" class="in-tab">
                                    <span>이력서 등록 / 관리</span>
                                </a>
                            </li>
                        </ul>
                        <!-- 메인질문들 -->
                        <div class="wrap_list_help">
                            <h2 class="tit_list_help">
                                <strong> 이력서 등록 / 관리 </strong>
                                자주 묻는 질문
                            </h2>
                            <ul class="list_help">
                                <li>
                                    <dl>
                                        <dt>
                                            <button
                                                type="button"
                                                class="btn_close help-1"
                                            >
                                                <span class="question">
                                                    희망 근무조건과 대표 희망
                                                    근무조건 수정 방법
                                                </span>
                                            </button>
                                            
                                            <dd class="answer answer-1">
                                                <p>
                                                    <span style="font-size: 10pt; font-family: 굴림, gulim;">
                                                        이력서 관리 페이지를 통해 희망 근무 조건을 수정할 수 있습니다.
                                                    </span>
                                                </p>
                                                <p><span style="font-size: 10pt; font-family: 굴림, gulim;">수정하는 방법은 아래 내용 참고해 주시기 바랍니다.</span></p>
                                                <p><span style="font-size: 10pt; font-family: 굴림, gulim;"><br></span></p>
                                                <p><span style="font-size: 10pt; font-family: 굴림, gulim;">모바일에서 희망 근무 조건(희망연봉, 직무.직업 ,근무형태 등) 수정 방법은 아래 바로 가기 링크를 참고해 주세요.</span></p>
                                                <p><span style="font-size: 10pt; font-family: 굴림, gulim;"><br></span></p>
                                                <p><a href="" target="_blank" style="font-family: Dotum, AppleGothic, sans-serif;"><b>☞ [앱 버전] 희망 근무 조건은 어떻게 수정할 수 있나요? (클릭)</b></a><span style="font-size: 10pt; font-family: 굴림, gulim;"><br></span></p>
                                                <p><span style="font-size: 10pt; font-family: 굴림, gulim;"><br></span></p>
                                                <p><span style="font-size: 10pt; font-family: 굴림, gulim;"><br></span></p>
                                                <p><span style="font-size: 10pt; font-family: 굴림, gulim;"><br></span></p>
                                                <p><span style="font-size: 10pt; font-family: 굴림, gulim;"><br></span></p>
                                                <p><span style="font-size: 12pt; color: rgb(0, 117, 200);"><b>[희망 근무조건 수정 방법]</b></span></p>
                                                <p><span style="font-size: 12pt; color: rgb(0, 117, 200);"><b><br></b></span></p>
                                                <!-- 원하는 이미지로 바꾸기 -->
                                                <p>
                                                    <img src="https://www.saraminimage.co.kr/sync/saramin/202409131055032.png">
                                                </p>
                                                <p><br></p>
                                                <p><br></p>
                                                <p><br></p>
                                                <p><br></p>
                                                <p><b style="color: rgb(0, 117, 200); font-size: 16px;">[대표 희망 근무 조건 수정 방법]</b></p>
                                                <p><br></p>
                                                <p><span style="font-size: 10pt; font-family: 굴림, gulim;">모바일에서 희망 근무 조건(희망연봉, 직무.직업 ,근무형태 등) 수정 방법은 아래 바로 가기 링크를 참고해 주세요.</span></p>  
                                            </dd>
                                            <dd class="date1 answer-1-date1">등록일 : 2022.01.21</dd>
                                            <dd class="date2 answer-1-date2">수정일 : 2024.10.07</dd>
                                            <dd class="view answer-1-view">조회수 : 27,502</dd>
                                        </dt>
                                    </dl>
                                    <button type="button" class="close btn_close help-1-close">접기
                                        <span></span>
                                    </button>
                                </li>
                            </ul>
                                <h2 class="tit_list_help">
                                    <strong> 회원정보 / 아이디 / 비밀번호 </strong>
                                    자주 묻는 질문
                                </h2>
                                <ul class="list_help">
                                <li>
                                    <dl>
                                        <dt>
                                            <button
                                                type="button"
                                                class="btn_close help-2"
                                            >
                                                <span class="question">
                                                    소셜 가입 계정을 사람인 자체 계정으로 전환 가능 문의
                                                </span>
                                            </button>
                                            <dd class="answer answer-2">
                                                <p><span style="font-size: 10pt; font-family: 굴림, gulim;">소셜(구글, 페이스북, 카카오, 네이버)로 가입한 아이디를 사람인 가입 아이디로 전환하는 것은 불가능합니다.</span></p>
                                                <p><span style="font-size: 10pt; font-family: 굴림, gulim;">같은 사람의 계정이라도, 소셜 가입 계정과 사람인 가입 계정은 별도 아이디로 취급됩니다.&nbsp;</span></p>
                                                <p><span style="font-size:10pt"><span style="font-family: 굴림, gulim; font-size: 10pt;">이력서, 스크랩 등 개인활동 역시 개별적으로 저장됩니다.</span> <br>
                                                    <br>
                                                    </span>
                                                </p>
                                                <dd class="date1 answer-2-date1">등록일 : 2022.01.21</dd>
                                                <dd class="date2 answer-2-date2">수정일 : 2024.10.07</dd>
                                                <dd class="view answer-2-view">조회수 : 27,502</dd>
                                        </dd>
                                        </dt>
                                    </dl>
                                    <button type="button" class="close btn_close help-2-close">접기
                                        <span></span>
                                    </button>
                                </li>
                            </ul>
                            <h2 class="tit_list_help">
                                <strong> 입사지원 / 관리 </strong>
                                자주 묻는 질문
                            </h2>
                            <ul class="list_help">
                            <li>
                                <dl>
                                    <dt>
                                        <button
                                            type="button"
                                            class="btn_close help-3"
                                        >
                                            <span class="question">
                                                입사지원 방법 가이드
                                            </span>
                                        </button>
                                        <dd class="answer answer-3">
                                            <span style="box-sizing: border-box; font-size: 10pt; font-family: 굴림, gulim;">사람인에서 제공하고 있는 입사지원 방법은 크게 2가지입니다.&nbsp;</span>
                                            <p><br></p>
                                            <span style="box-sizing: border-box; font-weight: 700; color: rgb(0, 117, 200); font-size: 10pt; font-family: 굴림, gulim;">1. 온라인 입사지원&nbsp;</span>
                                            <p><br></p>
                                            <span style="box-sizing: border-box; font-family: 굴림, gulim; font-size: 10pt;">채용 홈페이지, 홈페이지 지원</span>
                                            <p><br></p>
                                            <span style="box-sizing: border-box; font-size: 13.3333px; color: rgb(0, 117, 200);"><span style="box-sizing: border-box; font-weight: 700; font-family: 굴림, gulim; font-size: 10pt;">2. 그 외 입사지원</span></span>
                                            <p><br></p>
                                            <span style="box-sizing: border-box; font-size: 10pt; font-family: 굴림, gulim;">&nbsp;- 우편, 방문, 전화, FAX</span>
                                            <p><br></p>
                                            <p><br></p>
                                            <span style="box-sizing: border-box; font-size: 10pt; font-family: 굴림, gulim;">입사지원 방법은 채용을 진행하는 기업에서 직접 선택합니다.</span>
                                            <p><br></p>
                                            <p><br></p>
                                            <span style="box-sizing: border-box; color: rgb(0, 117, 200); font-size: 12pt;"><span style="box-sizing: border-box; font-weight: 700; font-family: 굴림, gulim; font-size: 10pt;">[입사지원 방법1: 온라인 입사지원]</span></span>
                                            <p><br></p>
                                            <span style="box-sizing: border-box; font-size: 10pt; font-family: 굴림, gulim;">온라인 입사지원은 사람인 페이지 혹은 기업 페이지를 통해 지원하는 방법으로 3가지로 구분됩니다.</span>
                                            <p><br></p>
                                            <p><br></p>
                                            <span style="box-sizing: border-box; font-size: 10pt; font-family: 굴림, gulim;"><span style="box-sizing: border-box; font-weight: 700;"><span style="box-sizing: border-box; color: rgb(0, 117, 200); font-family: 굴림, gulim; font-size: 10pt;">-입사지원</span></span>:&nbsp;<span style="box-sizing: border-box; font-weight: 700; font-family: 굴림, gulim; font-size: 10pt;">채용공고</span>에서<span style="box-sizing: border-box; font-weight: 700; font-family: 굴림, gulim; font-size: 10pt;">&nbsp;사람인 입사지원서</span>를 통한 입사지원</span>
                                            <p><br></p>
                                            <span style="box-sizing: border-box; font-size: 10pt; font-family: 굴림, gulim;"><span style="box-sizing: border-box; font-weight: 700;"><span style="box-sizing: border-box; color: rgb(0, 117, 200); font-family: 굴림, gulim; font-size: 10pt;">-채용 홈페이지</span></span>:&nbsp;<span style="box-sizing: border-box; font-weight: 700; font-family: 굴림, gulim; font-size: 10pt;">사람인 내 기업 페이지</span>에서&nbsp;<span style="box-sizing: border-box; font-weight: 700; font-family: 굴림, gulim; font-size: 10pt;">사람인 입사지원서</span>를 통한 입사지원&nbsp;</span>
                                            <p><br></p>
                                            <span style="box-sizing: border-box; font-size: 10pt; font-family: 굴림, gulim;"><span style="box-sizing: border-box; font-weight: 700;"><span style="box-sizing: border-box; color: rgb(0, 117, 200); font-family: 굴림, gulim; font-size: 10pt;">-홈페이지 지원</span></span>:&nbsp;<span style="box-sizing: border-box; font-weight: 700; font-family: 굴림, gulim; font-size: 10pt;">기업의 별도 채용 페이지</span>를 통한 입사지원</span>
                                            <p><br></p>
                                            <dd class="date1 answer-3-date1">등록일 : 2022.01.21</dd>
                                            <dd class="date2 answer-3-date2">수정일 : 2024.10.07</dd>
                                            <dd class="view answer-3-view">조회수 : 27,502</dd>
                                        </dd>
                                    </dt>
                                </dl>
                                <button type="button" class="close btn_close help-3-close">접기
                                    <span></span>
                                </button>
                            </li>
                        </ul>
                        <h2 class="tit_list_help">
                            <strong> 회원가입 / 탈퇴 </strong>
                            자주 묻는 질문
                        </h2>
                        <ul class="list_help">
                        <li>
                            <dl>
                                <dt>
                                    <button
                                        type="button"
                                        class="btn_close help-4"
                                    >
                                        <span class="question">
                                            개인회원 가입 방법
                                        </span>
                                    </button>
                                    <dd class="answer answer-4">
                                        <!-- 가입방법쓰기 -->
                                        <p><span style="font-size: 10pt; font-family: 굴림, gulim;">소셜(구글, 페이스북, 카카오, 네이버)로 가입한 아이디를 사람인 가입 아이디로 전환하는 것은 불가능합니다.</span></p>
                                            <br>
                                            </span>
                                        </p>
                                        <dd class="date1 answer-4-date1">등록일 : 2022.01.21</dd>
                                        <dd class="date2 answer-4-date2">수정일 : 2024.10.07</dd>
                                        <dd class="view answer-4-view">조회수 : 27,502</dd>
                                </dd>
                                </dt>
                            </dl>
                            <button type="button" class="close btn_close help-4-close">접기
                                <span></span>
                            </button>
                        </li>
                    </ul>
                        </div>
                        <!-- 이메일문의 있는부분 이메일 문의만 있으면 됨 -->
                        <div class="help_find">
                            <div class="find_method">
                                <a href="" class="btn_basic_type01 btn_report_enquiry">이메일 문의</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="/static/js/customer-service-center/faq.js"></script>
</html>
