<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/css/main.css" />
        <link
            rel="stylesheet"
            href="/static/css/interview-review/interview-review.css"
        />
        <title>면접 후기 목록</title>
    </head>
    <body>
        <div id="sri-section" class="layout-full">
            <div id="sri-wrap">
                <div id="content">
                    <!-- 메인 사진쪽 -->
                    <div class="header-interview-review">
                        <div class="inner">
                            <p class="txt-noti">
                                면접의 A~Z까지 사람인 면접후기에서 확인해보세요!
                                <br />
                                #전형 #진행방식 #면접질문 #면접후기
                            </p>
                            <a href="" class="btn-review-write">
                                면접 후기 등록하기
                            </a>
                        </div>
                    </div>
                    <!-- 지금까지 공유된 경험들 -->
                    <div class="wrap-interview-review">
                        <div class="review-cont">
                            <form
                                action=""
                                name="search-form"
                                autocomplete="off"
                            >
                                <div class="title-area">
                                    <h2 class="tit-review">
                                        지금까지 공유된 경험들
                                    </h2>
                                </div>
                                <div class="search-area">
                                    <span class="inpSel">
                                        <select
                                            name="orderby"
                                            style="width: 85px"
                                            title="정렬 기준 선택"
                                        >
                                            <option value="registration">
                                                등록순
                                            </option>
                                            <option value="pass">합격</option>
                                            <option value="fail">불합격</option>
                                        </select>
                                    </span>
                                    <div class="search-right">
                                        <span class="inpSel">
                                            <select
                                                name="job_category"
                                                style="width: 127px"
                                                title="직업선택"
                                            >
                                                <option value>
                                                    직무·직업 전체
                                                </option>
                                                <option value="1">
                                                    기획·전략
                                                </option>
                                                <option value="2">
                                                    마케팅·홍보·조사
                                                </option>
                                                <option value="3">
                                                    회계·세무·재무
                                                </option>
                                                <option value="4">
                                                    인사·노무·HRD
                                                </option>
                                                <option value="5">
                                                    총무·법무·사무
                                                </option>
                                                <option value="6">
                                                    IT개발·데이터
                                                </option>
                                                <option value="7">
                                                    디자인
                                                </option>
                                                <option value="8">
                                                    영업·판매·무역
                                                </option>
                                                <option value="9">
                                                    고객상담·TM
                                                </option>
                                                <option value="10">
                                                    구매·자재·물류
                                                </option>
                                                <option value="11">
                                                    상품기획·MD
                                                </option>
                                                <option value="12">
                                                    운전·운송·배송
                                                </option>
                                                <option value="13">
                                                    서비스
                                                </option>
                                                <option value="14">생산</option>
                                                <option value="15">
                                                    건설·건축
                                                </option>
                                                <option value="16">의료</option>
                                                <option value="17">
                                                    연구·R&D
                                                </option>
                                                <option value="18">교육</option>
                                                <option value="19">
                                                    미디어·문화·스포츠
                                                </option>
                                                <option value="20">
                                                    금융·보험
                                                </option>
                                                <option value="21">
                                                    공공·복지
                                                </option>
                                            </select>
                                        </span>
                                        <div class="search-typoBox">
                                            <input
                                                type="text"
                                                name="company-name"
                                                class="inp-typo"
                                                placeholder="기업명"
                                                title="기업명을 입력하세요."
                                            />
                                            <button
                                                type="submit"
                                                class="btn-typo-search"
                                            >
                                                검색
                                            </button>
                                        </div>
                                    </div>
                                    <span class="num-count"
                                        >총
                                        <b>29934</b>
                                        건
                                    </span>
                                </div>
                                <div class="list-review">
                                    <!-- 목록 첫번째 -->
                                    <div class="box-review">
                                        <div class="view-title">
                                            <strong class="txt-company">
                                                율하부부한의원
                                                <span class="result pass"
                                                    >합격</span
                                                >
                                            </strong>
                                            <span class="txt-date"
                                                >2024.10.14</span
                                            >
                                            <ul class="info-interview">
                                                <li>간호조무사</li>
                                                <li>2022년 하반기</li>
                                            </ul>
                                            <button
                                                type="button"
                                                class="spr-review btn-view"
                                            >
                                                <span class="blind"
                                                    >후기 상세보기</span
                                                >
                                            </button>
                                        </div>
                                        <!-- 화살표눌렀을때 div -->
                                        <div class="view-cont">
                                            <!-- 이모티콘있는곳 -->
                                            <div class="info-emoticon">
                                                <dl class="review">
                                                    <dt>전반적 평가</dt>
                                                    <dd
                                                        class="spr-review smile"
                                                    >
                                                        긍정적
                                                    </dd>
                                                </dl>
                                                <dl class="review difficulty">
                                                    <dt>난이도</dt>
                                                    <dd class="spr-review">
                                                        쉬움
                                                    </dd>
                                                </dl>
                                                <dl class="review result">
                                                    <dt>결과</dt>
                                                    <dd
                                                        class="spr-review smile"
                                                    >
                                                        합격
                                                    </dd>
                                                </dl>
                                            </div>
                                            <!-- 진행 및 면접 진행 방식 -->
                                            <div class="info-view">
                                                <strong class="tit-view"
                                                    >전형 및 면접 진행
                                                    방식</strong
                                                >
                                                <p class="txt-desc">
                                                    면접전 설문?인터뷰? 작성
                                                    <br />

                                                    내유외강 스타일 원장님.
                                                    스케쥴조절 가능. 최대한 잘
                                                    맞춰주심. 식사제공.
                                                    저녁대신오후간식제공.
                                                    근무선생님들 다 좋음. 다만
                                                    너어무 바쁨.
                                                </p>
                                            </div>
                                            <div class="info-view">
                                                <strong class="tit-view"
                                                    >면접 질문</strong
                                                >
                                                <ul class="list-question">
                                                    <li>무슨 요일 가능한지?</li>
                                                </ul>
                                            </div>
                                            <div class="info-view">
                                                <strong class="tit-view"
                                                    >면접 TIP 및 특이
                                                    사항</strong
                                                >
                                                <ul class="list-tip">
                                                    <li>면접 팁 , 특이사항</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pagination">
                                        <a class="page" href="#"><</a>
                                        <a class="page select" href="#">1</a>
                                        <a class="page" href="#">></a>
                                    </div>
                                </div>
                                <!-- 후기 등록하기 -->
                                <a href="" class="spr-review btn-write">
                                    후기 등록하기
                                </a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="/static/js/interview-review/interview-review.js"></script>
</html>
