body {
    position: relative;
    padding-top: 30px;
    min-width: 1295px;
    box-sizing: border-box;
}

body.fixed {
    padding-top: 1px;
}

header,
footer,
section,
nav,
article {
    display: block;
}

#header.main {
    /* height: 161px; */
}

#header.main.fixed {
    height: 64px;
}

#header {
    position: sticky;
    top: -1px;
    left: 0;
    z-index: 100;
    width: 100%;
    min-width: 1280px;
    /* height: 218px; */
    box-sizing: border-box;
    background: #fff;
}

#header:before {
    position: absolute;
    top: 70px;
    right: 0;
    left: 0;
    z-index: 1;
    height: 4px;
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(55, 63, 87, 0.1) 100%
    );
    content: "";
}

#header .wrap_header {
    display: grid;
    position: relative;
    z-index: 3;
    margin: 0 auto;

    width: 1260px;
    box-sizing: border-box;
    gap: 1px 23px;
    grid-template-areas:
        "bi search utility"
        "navigation navigation navigation";

    align-items: center;
}
#header.fixed .wrap_header {
    padding-top: 1px;
    gap: 0;
    grid-template-areas: "bi navigation search utility";
    grid-template-columns: 50px 1fr 242px auto;
    grid-template-rows: 87px;
}

#header * {
    box-sizing: border-box;
}

#header .bi {
    display: block;
    position: relative;
    padding-left: 27px;
}

#header .bi .frame {
    display: block;
    overflow: hidden;
    width: 134px;
    height: 34px;
    background-image: url("/static/images/main/saramin.png");
}
#header.fixed .bi .frame,
#header.simple.bubble .bi .frame {
    width: 36px;
    height: 20px;
    background-image: url("/static/images/main/home.png");
    background-repeat: no-repeat;
}
/* 로그인 */
#header .utility {
    display: grid;
    position: relative;
    z-index: 3;
    gap: 16px;
    justify-content: end;
    justify-items: end;
    align-items: center;
    grid-template-rows: 40px;
    grid-auto-flow: column dense;
}
.wrap_header {
    display: grid;
    grid-template-columns: 1fr auto; /* 왼쪽은 자동 크기, 오른쪽은 내용에 따라 크기 조정 */
    align-items: center; /* 세로 정렬 */
}

.utility {
    margin-right: 27px; /* 오른쪽 여백 27px */
}
/*  */
#header .utility .wrap_messenger {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    vertical-align: top;
}

#header .utility .wrap_messenger button.btn_messenger {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 0;
}
#header .utility .wrap_messenger button.btn_messenger:hover {
    background-color: #f4f6fa;
}

#header .utility .wrap_messenger button.btn_messenger:before {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(//www.saraminimage.co.kr/sri/message/gnb_icon_messenger.png)
        no-repeat -50px 0;
    content: "";
}

#header .utility .wrap_member {
    position: relative;
    z-index: 3;
}

#header .utility .btn_member:hover {
    background: #f4f6fa;
}

#header .utility .btn_member {
    display: block;
    position: relative;
    padding: 10px 27px 12px 46px;
    border-radius: 20px;
    font-size: 0;
}

#header .utility .btn_member .user_photo {
    display: block;
    overflow: hidden;
    position: absolute;
    top: 4px;
    left: 6px;
    z-index: 2;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    box-sizing: border-box;
    background: #fff;
}
#header .utility .btn_member .user_photo .img_default {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}

#header .utility .btn_member .user_name {
    display: inline-block;
    overflow: hidden;
    position: relative;
    z-index: 2;
    max-width: 50px;
    color: #5c667b;
    font-size: 14px;
    line-height: 18px;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap;
}

#header .utility .btn_member .img_social {
    display: inline-block;
    position: relative;
    z-index: 2;
    margin: 1px 4px 0;
    width: 16px;
    height: 16px;
    vertical-align: top;
}

#header .utility .btn_member .img_arrow {
    display: block;
    position: absolute;
    top: 12px;
    right: 8px;
    z-index: 2;
    width: 16px;
    height: 16px;
}
#header .utility .btn_member.expanded .img_arrow {
    transform: rotate(180deg);
    transform-origin: center;
}

#header .utility .btn_member .img_arrow svg {
    width: 100%;
    height: 100%;
}

#header .utility .btn_member:hover .img_arrow svg use {
    color: #96a0b5;
}

#header .utility .btn_member .img_arrow svg use {
    color: #ccd0d6;
}

svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}
:not(svg) {
    transform-origin: 0px 0px;
}

#header .utility .layer_member {
    display: none;
    position: absolute;
    top: 48px;
    right: 0;
    padding: 10px 0 0;
    width: 164px;
    border: 1px solid #d7dce5;
    border-radius: 4px;
    box-sizing: border-box;
    background: #fff;
    box-shadow: 2px 6px 16px 0 rgba(17, 42, 128, 0.08);
}

#header .utility .btn_service.expanded + .layer_member {
    display: block;
}

#header .utility .layer_member.person {
    padding: 0;
    width: 184px;
}
#header .utility .btn_member.expanded + .layer_member {
    display: block;
}
#header .utility .layer_member.person .stat {
    display: grid;
    padding: 15px 15px 8px;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    justify-content: center;
}
#header .utility .layer_member.person .stat a:not(.name):hover {
    background: #f4f6fa;
}

#header .utility .layer_member.person .stat a {
    padding: 8px 11px;
    border-radius: 8px;
    font-weight: bold;
    text-align: center;
}
#header .utility .layer_member.person .stat a > span {
    display: block;
    margin-bottom: 4px;
    color: #8491a7;
    font-size: 12px;
    line-height: 20px;
}

#header .utility .layer_member.person .stat a > strong {
    display: block;
    color: #15276f;
    font-size: 22px;
    line-height: 32px;
}

#header .utility .layer_member.person .links {
    padding: 8px 0 4px;
    border-top: 1px solid #eaedf4;
}

#header .utility .layer_member.person .links li {
    text-align: center;
}

#header .utility .layer_member.person .links li a:hover {
    background: #f4f6fa;
}

#header .utility .layer_member.person .links li a {
    display: block;
    color: #373f57;
    font-size: 14px;
    line-height: 36px;
}
#header .utility .layer_member.person .logout:hover {
    background: #eaedf3;
}

#header .utility .layer_member.person .logout {
    display: grid;
    border-radius: 0 0 4px 4px;
    box-sizing: border-box;
    color: #5c667b;
    font-size: 13px;
    line-height: 41px;
    background: #f4f6fa;
    place-items: center;
}

/* svg */
.img_svg_layout {
    display: none;
}

/* 헤더 전체 목록 */
#header .navi_total.expanded #index {
    display: grid;
    justify-content: center;
    grid-template-columns: 1001px 259px;
}

#header.main #index {
    top: 80px;
}

#index {
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    z-index: 2;
    width: 100%;
    background: #fff;
    box-shadow: 0 16px 16px rgba(55, 63, 87, 0.1);
}

#index:before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 4px;
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(55, 63, 87, 0.1) 100%
    );
    content: "";
}

#index .menu {
    display: grid;
    padding-right: 10px;
    width: 1001px;
    background: #fff;
    gap: 36px 0;
    grid-template-areas:
        "major major major major major major major"
        "minor personalize personalize blank extra1 extra2 extra3";
    grid-template-rows: auto auto;
    grid-template-columns: 143px 143px 143px 143px 143px 143px 143px;
    align-items: end;
}

#index .panel_menu {
    position: relative;
    z-index: 2;
    padding: 68px 0 42px;
}

#index .menu .major {
    position: relative;
    padding: 0 17px;
    min-height: 326px;
    align-self: stretch;
}

#index .menu .major:before {
    position: absolute;
    top: 4px;
    bottom: 4px;
    left: 0;
    width: 1px;
    background: #eaedf4;
    content: "";
}

#index .menu .major .copy {
    position: absolute;
    top: -28px;
    left: 17px;
    color: #2d65f2;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
}

#index .menu .major .depth1 {
    display: inline-block;
    margin-bottom: 16px;
    color: #292e41;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
    pointer-events: none;
}

#index .menu .major .depth2 li a {
    color: #292e41;
    font-size: 14px;
    line-height: 32px;
}

#index .menu .major .depth2 li a:hover,
#index .menu .major .depth2 li a:focus {
    color: #2d65f2;
}

/* 고객센터 */
#index .menu .minor {
    padding-bottom: 4px;
    grid-area: minor;
}

#index .menu .minor .items {
    display: grid;
    align-items: start;
    gap: 16px;
}

#index .menu .minor .items a {
    display: grid;
    color: #5c667b;
    font-size: 13px;
    font-weight: bold;
    line-height: 22px;
    grid-auto-flow: column dense;
    justify-content: start;
    align-items: center;
    gap: 8px;
}
#index .menu .minor .items a .icon {
    width: 20px;
    height: 20px;
}
#index .menu .minor .items a:hover {
    color: #2d65f2;
}

#index .menu .personalize {
    grid-area: personalize;
}

#index .menu .personalize .myhome {
    display: grid;
    margin-bottom: 16px;
    color: #373f57;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
    grid-auto-flow: column dense;
    gap: 8px;
    justify-content: start;
    align-items: center;
}
#index .menu .personalize .myhome:hover {
    color: #2d65f2;
}
#index .menu .personalize .myhome .arrow {
    display: block;
    width: 10px;
    height: 6px;
    color: #8491a7;
    transform: rotate(270deg);
}

#index .menu .personalize .items {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0 22px;
    justify-content: start;
}
#index .menu .personalize .items a {
    color: #373f57;
    font-size: 14px;
    line-height: 32px;
}
#index .menu .personalize .items a:hover {
    color: #2d65f2;
}

/* 전체목록 오른쪽 panel */

#index .links {
    padding: 40px 10px;
    width: 259px;
    border-left: 1px solid #eff5ff;
}

#index .panel_menu {
    position: relative;
    z-index: 2;
    padding: 68px 0 42px;
}
#index .links .copy {
    display: block;
    padding-left: 8px;
    color: #2d65f2;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
}
#index .links .items_normal {
    display: grid;
    margin-top: 8px;
    gap: 20px;
    align-items: start;
}

#index .links .items_normal li a {
    display: grid;
    padding: 8px 8px 12px;
    width: 239px;
    border-radius: 8px;
    gap: 8px 12px;
    grid-template-areas:
        "icon title"
        "icon text";
    grid-template-columns: 32px 1fr;
    grid-template-rows: 22px 18px;
}

#index .links .items_normal li a:hover {
    background: #deebff;
}

#index .links .items_normal li a .icon {
    display: grid;
    width: 32px;
    height: 32px;
    border: 1px solid #eaedf4;
    border-radius: 8px;
    background: #fff;
    grid-area: icon;
    place-items: center;
}

#index .links .items_normal li a .icon svg {
    width: 20px;
    height: 20px;
}

#index .links .items_normal li a .title {
    display: grid;
    color: #373f57;
    font-size: 14px;
    font-weight: bold;
    grid-area: title;
    align-items: center;
    gap: 8px;
    grid-auto-flow: column dense;
    justify-content: start;
}

#index .links .arrow {
    display: block;
    width: 10px;
    height: 6px;
    color: #8491a7;
    transform: rotate(270deg);
}

#index .links .items_normal li a .text {
    color: #5c667b;
    font-size: 13px;
    grid-area: text;
}

#index:after {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1;
    width: 50%;
    height: 100%;
    background: #f7fafe;
    content: "";
}
