div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
b,
strong,
input,
textarea,
button,
select {
    margin: 0;
    padding: 0;
}

#sri-section.layout-full {
    margin: 0;
    width: 100%;
}

#sri-section {
    display: table;
    overflow: hidden;
    position: relative;
    z-index: 1;
    height: 100%;
    box-sizing: border-box;
}

#sri-wrap {
    display: table-row;
    width: 100%;
    height: 100%;
}

#sri-section.layout-full
    #content {
    margin: 0;
    width: 100%;
}

#content {
    position: relative;
    z-index: 1;
}

#sri-section.layout-full
    .wrap-title-recruit {
    margin: 0 auto;
    padding: 50px 0 50px;
    width: 1260px;
}

.wrap-title-recruit {
    position: relative;
}

.wrap-title-recruit .title-common {
    display: inline-block;
    color: #444;
    font-size: 32px;
    font-weight: normal;
    line-height: 36px;
    vertical-align: top;
}

.wrap-title-recruit .txt-write-info {
    margin-bottom: -19px;
    padding: 9px 0 0 3px;
    color: #888;
    font-size: 13px;
    line-height: 21px;
}

.wrap-title-recruit .txt-write-info b {
    color: #444;
}

b {
    font-weight: bold;
}

.wrap-interview-review {
    position: relative;
    margin: 0 auto 80px auto;
    padding-bottom: 69px;
    width: 1260px;
    background: var(--white);
}

input {
    line-height: normal;
}

fieldset {
    border: 0;
}

.review-write:first-of-type {
    padding-top: 0;
}

.review-write .tit-step {
    display: inline-block;
    color: #444;
    font-size: 16px;
    font-weight: bold;
    line-height: 21px;
}

.review-write .txt-point {
    float: right;
    padding-top: 6px;
    color: #444;
    font-size: 12px;
    line-height: 16px;
}

.review-write
    .txt-point
    .point {
    margin: 6px 2px 0 0;
}

.review-write .point {
    display: inline-block;
    width: 6px;
    height: 6px;
    vertical-align: top;
}

.review-write .point:before {
    width: 6px;
    height: 6px;
    background-position: -20px 0;
    content: "";
}

.wrap-interview-review .spr-review:before {
    display: inline-block;
    vertical-align: top;
    background: url(/images/interview-review/spr_review_190220.png)
        no-repeat;
}

.blind {
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    width: 1px;
    height: 1px;
}

.review-write .tblType {
    margin-top: 8px;
}

.tblType {
    border-top: 1px solid #666;
}

.tblType table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    table-layout: fixed;
}

table {
    font-size: inherit;
    line-height: 100%;
}

.review-write
    .tblType
    th.txtLeft {
    padding: 13px 0 14px 30px;
    color: #666;
    font-size: 13px;
    font-weight: normal;
    line-height: 21px;
}

.tblType .txtLeft {
    text-align: left;
}

.tblType tbody th {
    border-color: #eaeaea;
    background-color: #f7f7f7;
    margin: 0;
    border-bottom: 1px solid #e1e1e1;
    box-sizing: border-box;
}

th {
    font-style: normal;
}

.review-write
    .tblType
    .tit-item {
    position: relative;
    padding-right: 10px;
    font-weight: normal;
}

label {
    cursor: pointer;
}

.review-write
    .tblType
    .tit-item
    .point {
    margin: 8px 0 0 1px;
}

.review-write .point {
    display: inline-block;
    width: 6px;
    height: 6px;
    vertical-align: top;
}

.review-write .point:before {
    width: 6px;
    height: 6px;
    background-position: -20px 0;
    content: "";
}

.tblType tbody td {
    border-color: #eaeaea;
    padding: 14px 10px;
    height: 47px;
    white-space: normal;
    word-break: break-all;
    margin: 0;
    border-bottom: 1px solid #e1e1e1;
    box-sizing: border-box;
    color: #222;
    font-size: 14px;
    line-height: 18px;
}
/* 파일첨부 */
.filebox .upload-name {
    display: inline-block;
    height: 40px;
    padding: 0 10px;
    vertical-align: middle;
    border: 1px solid #dddddd;
    width: 40%;
    color: #999999;
}
.filebox label {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    vertical-align: middle;
    background-color: #999999;
    cursor: pointer;
    height: 20px;
    margin-left: 10px;
}
.filebox input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}
/*  */
.review-write .auto-search {
    position: relative;
    width: 100%;
    font-size: 0;
}

.review-write
    .auto-search
    .inpTypo {
    width: 345px;
}

.review-write
    .tblType
    .inpTypo {
    padding-right: 4px;
}

.inpTypo {
    padding: 0 11px 1px 11px;
    height: 32px;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    color: #444;
    font-size: 13px;
    line-height: 28px;
    vertical-align: middle;
    background: #fff;
}

.review-write
    .auto-search
    .list-auto-search {
    display: none;
    overflow: hidden;
    overflow-y: auto;
    position: absolute;
    top: 32px;
    right: 0;
    left: 0;
    z-index: 10;
    max-height: 202px;
    border: 1px solid #666;
    border-top: 0;
    box-sizing: border-box;
    font-size: 13px;
    line-height: 17px;
    background: var(--white);
}

ul {
    list-style: none;
}

.review-write
    .auto-search
    .no-search {
    padding: 34px 0;
    color: #666;
    text-align: center;
}

.review-write
    .auto-search
    .btn-company-search {
    display: inline-block;
    margin-left: 6px;
    width: 138px;
    height: 32px;
    border: 1px solid var(--blue80);
    color: var(--blue80);
    font-size: 13px;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
}

button {
    cursor: pointer;
    background: transparent;
}

.review-write
    .tblType
    .msgInvalid.hide {
    display: none;
}

.review-write
    .tblType
    .msgInvalid {
    margin-top: 4px;
    width: 100%;
    color: #f00;
    font-size: 12px;
    line-height: 16px;
}

em {
    font-weight: normal;
    font-style: normal;
}

.review-write
    .tblType
    td
    .desire-area {
    position: relative;
    padding: 0 76px 1px 11px;
    width: 600px;
    min-height: 32px;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    color: #444;
    font-size: 13px;
    line-height: 28px;
    text-align: left;
    vertical-align: middle;
    background: var(--white);
}

.wrap-section-contents {
    position: relative;
    top: -1px;
    z-index: 1;
}

.wrap-section-contents.common-panel
    .option-content {
    width: 960px;
    border-radius: 8px;
}

.option-content.job-category-section.on {
    min-height: auto;
}

.wrap-section-contents .option-content.on {
    display: block;
}

.wrap-section-contents .option-content {
    display: none;
    border: 1px solid #444;
    box-sizing: border-box;
}

h2 {
    font-size: 100%;
    font-weight: normal;
}

.wrap-section-contents .select-keyword {
    border-bottom: 0;
    padding: 12px 0 0 15px;
    height: 65px;
    box-sizing: border-box;
}

.wrap-section-contents
    .select-keyword
    .wrap-auto-keyword {
    float: left;
    position: relative;
}

.wrap-section-contents
    .select-keyword
    .ipt-keyword {
    display: block;
    position: relative;
    width: 464px;
    height: 40px;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
}

.wrap-section-contents
    .select-keyword
    .ipt-keyword:before {
    display: block;
    position: absolute;
    top: 14px;
    left: 15px;
    width: 13px;
    height: 13px;
    background: url(/images/interview-review/spr_search_panel.png)
        no-repeat 0 -133px;
    content: "";
}

.wrap-section-contents
    .select-keyword
    .ipt-keyword
    input {
    padding: 0 40px 0 34px;
    width: 462px;
    height: 38px;
    border: 0;
    box-sizing: border-box;
    color: #222;
    font-size: 13px;
    line-height: 38px;
    background: transparent;
}

.wrap-section-contents
    .select-keyword
    .ipt-keyword
    .btn-delete {
    display: none;
    overflow: hidden;
    position: absolute;
    top: 13px;
    right: 15px;
    width: 15px;
    height: 15px;
    color: rgba(0, 0, 0, 0);
    font-size: 1px;
    background: url(/images/interview-review/spr_search_panel.png)
        no-repeat 0 -160px;
    border: 0;
    line-height: normal;
}

.wrap-section-contents
    .select-keyword
    .wrap-result {
    display: none;
    position: absolute;
    top: 39px;
    left: 0;
    z-index: 10;
    width: 464px;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    background: #fff;
}

.option-content.job-category-section
    .details
    .wrap-scroll {
    width: 100%;
    height: 100%;
}

.wrap-scroll {
    position: relative;
}

.wrap-scroll .track {
    position: relative;
    width: 100%;
    height: 100%;
    background: #fcfcfc;
}

.wrap-scroll .thumb {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 6px;
    height: 20px;
    background: #f2f2f3;
    cursor: pointer;
}

.wrap-scroll .end {
    overflow: hidden;
    width: 100%;
    height: 5px;
    background: #f2f2f3;
}

.wrap-section-contents
    .select-keyword
    .wrap-result.has-result
    .viewport {
    height: 183px;
}

.option-content.job-category-section .wrap-scroll .viewport {
    height: 100%;
}

.wrap-scroll .viewport {
    overflow: hidden;
    position: relative;
    z-index: 1;
    width: 100%;
}

.wrap-scroll .overview {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
}

.wrap-section-contents
    .select-keyword
    .list-keyword {
    padding: 9px 0 10px;
}

ul {
    list-style: none;
}

.wrap-section-contents
    .select-keyword
    .area-btn {
    position: relative;
    padding: 0 15px;
    height: 39px;
    line-height: 39px;
    background: #fcfcfc;
}

.wrap-section-contents
    .select-keyword
    .area-btn
    .btn-close {
    position: absolute;
    top: 10px;
    right: 17px;
    color: #888;
    font-size: 13px;
    line-height: 18px;
    border: 0;
}

.wrap-section-contents
    .select-keyword
    .wrap-result {
    display: none;
    position: absolute;
    top: 39px;
    left: 0;
    z-index: 10;
    width: 464px;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    background: #fff;
}

.wrap-section-contents
    .select-keyword
    .wrap-result.no-result
    p {
    padding-top: 85px;
    height: 183px;
    box-sizing: border-box;
    color: #999;
    font-size: 13px;
    text-align: center;
    vertical-align: middle;
}

.wrap-section-contents
    .select-keyword
    .area-btn {
    position: relative;
    padding: 0 15px;
    height: 39px;
    line-height: 39px;
    background: #fcfcfc;
}

.wrap-section-contents
    .select-keyword
    .area-btn
    .btn-close {
    position: absolute;
    top: 10px;
    right: 17px;
    color: #888;
    font-size: 13px;
    line-height: 18px;
    border: 0;
}

.option-content.job-category-section
    .details {
    overflow: hidden;
    height: initial;
}

h4 {
    font-size: 100%;
    font-weight: normal;
}

.common-panel
    .option-content.job-category-section
    .details
    .box-jobs {
    display: block;
    width: 958px;
}

.option-content.job-category-section
    .details
    .box-jobs {
    font-size: 0;
}

.common-panel
    .option-content.job-category-section
    .details
    .box-jobs
    .btn-job {
    width: 137px;
    border-bottom: 0;
    border-top: 1px solid #e6e9ea;
}

.common-panel
    .option-content.job-category-section
    .details
    .box-jobs
    .btn-job:nth-of-type(7n) {
    width: 136px;
}

.option-content.job-category-section
    .details
    .box-jobs
    .btn-job {
    height: 50px;
    border-right: 1px solid #e6e9ea;
    box-sizing: border-box;
    color: #222;
    font-size: 13px;
    line-height: normal;
}

.common-panel .box-detail-jobs {
    display: none;
    border-top: 1px solid #e6e9ea;
}

.option-content.job-category-section
    .details
    .box-onedepth {
    height: 161px;
    float: left;
    width: 204px;
    box-sizing: border-box;
}

.option-content.job-category-section
    .wrap-scroll
    .viewport {
    height: 100%;
}

.wrap-scroll .overview {
    top: 0px;
    position: absolute;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
}

.option-content.job-category-section
    .details
    .box-onedepth
    .item-job {
    height: 40px;
}

.option-content.job-category-section
    .wrap-scroll
    li.on {
    background: #f8faff;
}

li {
    list-style: none;
}

.details
    .box-onedepth
    .item-job.on
    .first-depth {
    color: #566feb;
    font-weight: bold;
    vertical-align: top;
}

.details
    .box-onedepth
    .item-job
    .first-depth {
    position: relative;
    margin-right: 4px;
    padding: 0 0 0 24px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-size: 13px;
    text-align: left;
}

.details
    .box-onedepth
    .item-job.on
    .first-depth:after {
    display: block;
    position: absolute;
    top: 14px;
    right: 15px;
    width: 6px;
    height: 11px;
    background: url(/images/interview-review/img_main_spr_200710.png)
        no-repeat -700px -300px;
    content: "";
}

.wrap-section-contents
    .select-keyword
    .ipt-keyword:before {
    display: block;
    position: absolute;
    top: 14px;
    left: 15px;
    width: 13px;
    height: 13px;
    background: url(/images/interview-review/spr_search_panel.png)
        no-repeat 0 -133px;
    content: "";
}

.wrap-section-contents .select-keyword:after {
    display: table;
    clear: both;
    content: "";
    table-layout: fixed;
}

.option-content.job-category-section
    .details::after {
    display: table;
    clear: both;
    content: "";
    table-layout: fixed;
}

.common-panel
    .option-content.job-category-section
    .details
    .box-detail-depth {
    display: block;
    width: calc(100% - 204px);
}

.option-content.job-category-section
    .details
    .box-detail-depth {
    float: left;
    border-left: 1px solid #eaeaea;
    box-sizing: border-box;
}

.box-detail-depth .row.list {
    height: 161px;
}

.box-detail-depth .row {
    box-sizing: border-box;
}

.box-detail-depth
    .list
    .row-item {
    position: relative;
    padding-left: 172px;
    border-bottom: 1px solid #eaeaea;
    box-sizing: border-box;
}
.box-detail-depth .list .row-item.expand .area-list {
    max-height: 100%;
    border-bottom: 0;
}

.box-detail-depth .list dt {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 172px;
    height: 100%;
    box-sizing: border-box;
    color: #222;
    font-size: 13px;
}

.box-detail-depth
    .list
    dt
    .btn-expand {
    position: relative;
    width: 100%;
    height: 100%;
    color: inherit;
    font-size: inherit;
    box-sizing: border-box;
    vertical-align: top;
    border: 0;
    line-height: normal;
}

.box-detail-depth
    .list
    dt
    .btn-expand
    .txt {
    position: absolute;
    top: 12px;
    left: 23px;
}

.box-detail-depth
    .list
    .area-list {
    overflow: hidden;
    padding-left: 21px;
    width: 100%;
    max-height: 80px;
    border-left: 1px solid #eaeaea;
    box-sizing: border-box;
    font-size: 0;
    background-color: #fff;
}

.box-detail-depth
    .list
    .area-list
    .btn-three-depth {
    margin: 8px 8px 8px 0;
    padding: 0 6px;
    height: 24px;
    border-radius: 4px;
    color: #5c667b;
    font-size: 13px;
    border: 0;
    line-height: normal;
}

.common-panel
    .box-detail-depth
    .list
    .row-item:last-of-type {
    border-bottom: 0;
}

.common-panel .box-result {
    display: flex;
    overflow: hidden;
    width: 100%;
    min-height: 48px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    box-sizing: border-box;
    background-color: #fafbfc;
    flex-flow: row wrap;
    border-top: 1px solid #e6e9ea;
}

.common-panel .box-result .row {
    display: flex;
    padding-bottom: 15px;
    width: calc(100% - 172px);
    box-sizing: border-box;
    flex-flow: row wrap;
}

.common-panel
    .box-result
    .list {
    display: flex;
    padding: 15px 0 0 21px;
    width: 100%;
    box-sizing: border-box;
}

.common-panel
    .box-result
    .list
    > dt {
    margin-right: 16px;
    width: 64px;
    color: #444;
    font-size: 13px;
    font-weight: bold;
}

.common-panel
    .box-result
    .list
    dd {
    display: flex;
    padding-right: 17px;
    width: calc(100% - 80px);
    box-sizing: border-box;
    color: #888;
    font-size: 13px;
    flex-flow: row wrap;
}

.common-panel
    .box-result
    .list
    dd
    span {
    margin-right: 10px;
    margin-bottom: 5px;
}

.common-panel
    .box-result
    .row
    .btn-job-reset.hide {
    display: none;
}

.common-panel
    .box-result
    .row
    .btn-job-reset {
    position: relative;
    margin: 0 0 0 21px;
    color: #888;
    font-size: 13px;
    border: 0;
    line-height: normal;
}

.common-panel
    .box-result
    .area-btn {
    display: flex;
    width: 170px;
    border-left: 1px solid #eaeaea;
    box-sizing: border-box;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
}

.common-panel
    .box-result
    .area-btn
    .btn-job-cancel {
    margin-right: 11px;
    border: 1px solid #dbdbdb;
    color: #444;
}

.common-panel
    .box-result
    .area-btn
    .btn {
    width: 64px;
    height: 32px;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 13px;
    line-height: normal;
}

.common-panel
    .box-result
    .area-btn
    .btn-job-confirm {
    color: #fff;
    background-color: #555;
}

.common-panel
    .box-result
    .area-btn
    .btn {
    width: 64px;
    height: 32px;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 13px;
    line-height: normal;
}

.option-content.job-category-section
    .details::after {
    display: table;
    clear: both;
    content: "";
    table-layout: fixed;
}

.review-write
    .tblType
    .txt-option {
    color: #444;
    font-size: 12px;
    line-height: 16px;
}

.review-write .range-option {
    padding-top: 10px;
}

.inpSel {
    display: inline-block;
    height: 32px;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    vertical-align: middle;
    background: #fff;
}

.review-write
    .range-option
    .inpSel
    > select {
    border-color: #dbdbdb;
    color: #666;
}
/* .list-question select {
    
} */
.list-question .inpTypo option {
    height: 32px;
    font-size: 13px;
    color: #444;
    line-height: 16px;
}
.inpSel select {
    padding: 0 29px 1px 11px;
    width: 169px;
    height: 30px;
    border: none;
    box-sizing: border-box;
    font-size: 13px;
    line-height: 29px;
    text-align: left;
    vertical-align: top;
    white-space: nowrap;
    text-overflow: ellipsis;
    background: url(/images/interview-review/ico_select_arr.png)
        no-repeat 100% 0;
    -webkit-appearance: none;
}

.inpSel select option {
    height: 32px;
    font-size: 13px;
    color: #444;
    line-height: 16px;
}

.review-write .range-option:after {
    display: table;
    clear: both;
    content: "";
    table-layout: fixed;
}

.review-write {
    padding-top: 34px;
}

.inpRdoSw {
    display: inline-block;
    vertical-align: middle;
}

.inpRdoSw .inOption {
    float: left;
    position: relative;
}

.inpRdoSw .inOption > input {
    position: absolute;
    top: 0;
    width: 1px;
    height: 1px;
    outline: none;
    opacity: 0;
    pointer-events: none;
}

.inpRdoSw.colorWhite
    .inOption
    > input:checked
    + .lbl {
    background-color: #fff;
    color: #4876ef;
}

.inpRdoSw
    .inOption
    > input:checked
    + .lbl {
    position: relative;
    z-index: 2;
    border-color: #4876ef;
}

.review-write
    .inpRdoSw
    .inOption
    .lbl {
    width: 116px;
}

.inpRdoSw .inOption > .lbl {
    display: inline-block;
    padding: 5px 14px 6px;
    height: 32px;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    color: #666;
    font-size: 13px;
    line-height: 19px;
    text-align: center;
    vertical-align: top;
    background-color: #fff;
    cursor: pointer;
    user-select: none;
}

.inpRdoSw
    .inOption
    + .inOption {
    margin-left: -1px;
}

.inpRdoSw .inOption:nth-child(n + 2):after {
    position: absolute;
    top: 0;
    left: -1px;
    z-index: 2;
    width: 2px;
    height: 100%;
    content: "";
}

.inpRdoSw:after {
    display: table;
    clear: both;
    content: "";
    table-layout: fixed;
}

.review-write
    .tblType
    .txt-sub {
    display: block;
}

.review-write
    .tblType
    .txtLeft
    .inpChk {
    margin-right: 10px;
}

.inpChk {
    display: inline-block;
    position: relative;
    font-size: 0;
    vertical-align: top;
}

.inpChk > input[type="checkbox"] {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
    width: 1px;
    height: 1px;
}

.inpChk.small
    > input[type="checkbox"]:checked
    + .lbl {
    background-position: 0 -148px;
}

.inpChk > input[type="checkbox"]:focus + label,
.inpRdo > input[type="radio"]:focus + label {
    outline: 1px solid #94b6ed;
    box-shadow: 0 0 2px #94b6ed;
}

.inpChk.small
    > input[type="checkbox"]
    + .lbl {
    padding-left: 20px;
    height: 17px;
    font-size: 12px;
    line-height: 16px;
    background-position: 0 -98px;
}

.inpChk .lbl {
    display: block;
    box-sizing: border-box;
    color: #444;
    background: url(/images/interview-review/sri_ico_checkbox03.png)
        0 2px no-repeat;
    user-select: none;
}

.review-write
    .tblType
    .textarea {
    width: 510px;
}

.review-write
    .tblType
    .tf-input {
    display: block;
    overflow: hidden;
    padding: 6px 13px;
    width: 510px;
    height: 87px;
    min-height: 87px;
    max-height: 308px;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    color: #444;
    font-size: 13px;
    line-height: 21px;
    resize: none;
}

.review-write
    .tblType
    .txt-byte {
    float: right;
    margin: 4px 0 0;
    color: #888;
    font-size: 12px;
    line-height: 16px;
}

.review-write
    .tblType
    .txt-byte
    .emph {
    color: var(--blue80);
}

.review-write
    .tblType
    .textarea
    .msgInvalid {
    float: left;
    width: auto;
}

.review-write
    .tblType
    .textarea:after {
    display: table;
    clear: both;
    content: "";
    table-layout: fixed;
}

.review-write .list-question li {
    overflow: hidden;
    position: relative;
    padding-top: 2px;
}

.review-write
    .list-question
    .inpTypo {
    float: left;
    padding-left: 32px;
    width: 446px;
}

.review-write
    .list-question
    .btn-basic-type02 {
    float: left;
    margin-left: 6px;
    width: 58px;
    color: #666;
}

.btn-basic-type02 {
    padding: 5px 13px 9px;
    height: 32px;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    font-size: 13px;
    line-height: normal;
    vertical-align: top;
    background-color: #fff;
}

.review-write
    .list-question
    .btn-add {
    padding: 5px 0 9px;
}

.review-write .list-question li:before {
    position: absolute;
    top: 3px;
    left: 1px;
    padding: 6px 0;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    color: var(--blue80);
    font-size: 13px;
    line-height: 17px;
    text-align: center;
    background: var(--white);
    content: "Q";
}

.review-write
    .tblType
    .txt-attach {
    font-size: 13px;
}

.review-write
    .tblType
    .txt-attach
    .ex {
    display: block;
    padding: 3px 0 9px;
    color: #949494;
    font-size: 12px;
}

.review-write .wrap-attached {
    overflow: hidden;
}

.review-write
    .wrap-attached
    .btn-attach {
    overflow: hidden;
    float: left;
    position: relative;
    z-index: 1;
    width: 116px;
}

.review-write
    .wrap-attached
    .btn-attach
    input {
    position: absolute;
    top: 0;
    width: 1px;
    height: 1px;
    outline: none;
    opacity: 0;
    pointer-events: none;
}

.review-write
    .wrap-attached
    .btn-attach
    .btn-basic-type02:before {
    margin: 3px 7px 0 0;
    width: 16px;
    height: 16px;
    background-position: -20px -20px;
    content: "";
}

.review-write
    .wrap-attached
    .btn-attach
    .btn-basic-type02 {
    width: 100%;
    text-align: center;
    display: inline-block;
}

.review-write
    .wrap-attached
    .txt-filename {
    display: none;
    overflow: hidden;
    padding: 6px 10px 9px;
    height: 32px;
    box-sizing: border-box;
    color: #666;
    font-size: 13px;
    line-height: 17px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.review-write .txt-copyright {
    padding: 26px 0 28px;
    color: #666;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
}

.review-write .btn-confirm {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 40px;
    color: var(--white);
    font-size: 14px;
    font-weight: bold;
    background: #5f75eb;
}

.box-detail-depth
    .list
    dt
    .btn-expand:after {
    position: absolute;
    top: 12px;
    right: 10px;
    width: 17px;
    height: 16px;
    background: url(/images/interview-review/spr_panel_expand.png) -5px -5px
        no-repeat;
    content: "";
}

.box-detail-depth
    .list
    .row-item.expand {
    height: auto;
    background-color: #f8faff;
}

.box-detail-depth
    .list
    .row-item.expand
    dt
    .btn-expand:after {
    width: 16px;
    height: 16px;
    background-position: -32px -5px;
}

.box-detail-depth
    .list
    dt
    .btn-expand:after {
    position: absolute;
    top: 12px;
    right: 10px;
    background: url(/images/interview-review/spr_panel_expand.png) -5px -5px
        no-repeat;
    content: "";
}

.box-detail-depth
    .list
    .row-item.expand {
    height: auto;
    background-color: #f8faff;
}

.option-content.job-category-section
    .details
    .box-onedepth.on {
    height: 241px;
}

.box-detail-depth .row.list.on {
    height: 241px;
}

.common_panel .option_content.job_category_section .details .box-detail-depth {
    width: calc(100% - 204px);
}

.date-range {
    display: flex;                 /* Flexbox를 사용하여 정렬 */
    align-items: center;          /* 세로 방향 중앙 정렬 */
    margin-bottom: 10px;          /* 아래 여백 추가 */
}
.work-time-range{
    display: flex;                 /* Flexbox를 사용하여 정렬 */
    align-items: center;          /* 세로 방향 중앙 정렬 */
}

label {
    margin-right: 10px;           /* 레이블과 입력 필드 사이 여백 */
    font-size: 14px;              /* 레이블 글자 크기 */
}

input[type="date"],
input[type="time"] {
    margin-right: 20px;           /* 입력 필드 사이 여백 */
    padding: 0 4px 1px 11px;
    height: 32px;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    color: #444;
    font-size: 13px;
    line-height: 28px;
    vertical-align: middle;
    background: #fff;
}

.wrap-section-contents .select-keyword .list-keyword {
    padding: 9px 0 10px;
}

.wrap-section-contents .select-keyword .list-keyword li:hover, .wrap-section-contents .select-keyword .list-keyword li.current {
    background: #f8faff;
}

.wrap-section-contents .select-keyword .list-keyword li {
    padding: 0 14px;
    width: 100%;
    height: 32px;
    box-sizing: border-box;
    line-height: 32px;
}

.box-detail-depth .list dt .btn-expand:hover {
    color: inherit;
    background-color: #f4f6fa;
}

.details .box-onedepth .item-job .first-depth:hover {
    color: #222;
    background-color: #f4f6fa;
}

.box-detail-depth .list .row-item.expand dt .btn-expand:hover {
    color: #566feb;
    background-color: inherit;
}

.box-detail-depth .list .row-item.expand dt .btn-expand {
    color: #566feb;
    font-weight: bold;
}
.box-detail-depth .list .area-list .btn-three-depth:hover {
    background-color: #f4f6fa;
}

.option-content.job-category-section .details .box-jobs .btn-job:hover {
    color: #5c667b;
    background-color: #f4f6fa;
}

.details .box-onedepth .item-job.on .first-depth {
    color: #566feb;
    font-weight: bold;
    vertical-align: top;
}

.box-detail-depth .list .area-list .btn-three-depth.on {
    color: #4876ef;
    background-color: #eff5ff;
}

.common-panel .box-result .list dd .btn-delete {
    overflow: hidden;
    margin: 1px 0 0 5px;
    width: 17px;
    height: 17px;
    font-size: 0;
    vertical-align: top;
    background: url(//www.saraminimage.co.kr/sri/common/ico/spr_total_search.png) no-repeat -50px -126px;
}

.review-write .tblType td .desire-area .list-task .btn-delete {
    overflow: hidden;
    margin: 5px 0 0;
    width: 17px;
    height: 17px;
    font-size: 0;
    vertical-align: top;
    background: url(//www.saraminimage.co.kr/sri/common/ico/spr_total_search.png) no-repeat -50px -126px;
}

.list.overview {
    height: 100%; /* 부모 높이 내에서 꽉 채움 */
    overflow-y: auto; /* 수직 스크롤 활성화 */
    position: relative; /* 부모 요소 기준으로 위치 지정 */
}
.list.overview::-webkit-scrollbar {
    display: none;
}