<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>나의 자소서</title>
        <link rel="stylesheet" href="/static/css/cover-letter/list.css" />
        <link rel="stylesheet" href="/static/css/main/body.css" />
        <link rel="stylesheet" href="/static/css/main.css" />
    </head>
    <body>
        <header></header>
        <main class="person-layout">
            <section class="list-list">
                <div class="list-list-wrap">
                    <h1 class="list-list-title">자소서 관리</h1>
                    <div class="dashboard-dashboard">
                        <div class="dashboard-dashboard-box">
                            <p class="dashboard-dashboard-copy">
                                초안 자동생성, 맞춤법 및 표절검사, 마무리
                                코칭까지 해주는
                            </p>

                            <a class="button-button button-size-blue">
                                자소서 등록하기
                            </a>
                        </div>
                    </div>
                    <div class="list-list-header">
                        <span class="list-list-count">총 5건</span>
                        <div class="searchinput-searchinput list-search">
                            <div class="searchinput-searchinput-wrap">
                                <label
                                    class="searchinput-blind"
                                    for="listkeyword"
                                    >검색어</label
                                >
                                <input
                                    type="text"
                                    name=""
                                    id="listkeyword"
                                    placeholder="자기소개서 제목, 문항, 내용으로 검색해보세요."
                                    maxlength="24"
                                    autocomplete="off"
                                    class="searchinput-searchinput-input"
                                    value=""
                                />
                            </div>
                            <button
                                type="button"
                                class="searchinput-searchinput-search"
                            >
                                <svg width="24" height="24" aria-hidden="false">
                                    <use xlink:href="#magnify"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <ul class="list-list-body">
                        <li class="listitem-list-item">
                            <span class="list-item-title">
                                <a class="list-item-subject" href=""
                                    >TEST님의 자소서</a
                                >
                            </span>
                            <span class="list-item-summary">TEST</span>
                            <span class="list-item-date"
                                >2024.10.17 00:04:54</span
                            >
                            <span class="list-item-btns">
                                <a
                                    class="button-button button-size-blueinvert list-item-modify"
                                    href=""
                                    >수정하기</a
                                >
                            </span>
                            <button
                                type="button"
                                class="list-item-menu-btn"
                            ></button>
                            <div class="modal-modal-content list-item-menu">
                                <ul>
                                    <li>
                                        <button
                                            type="button"
                                            class="list-item-menu-delete"
                                        >
                                            삭제하기
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="listitem-list-item">
                            <span class="list-item-title">
                                <a class="list-item-subject" href=""
                                    >TEST님의 자소서</a
                                >
                            </span>
                            <span class="list-item-summary">TEST</span>
                            <span class="list-item-date"
                                >2024.10.17 00:04:54</span
                            >
                            <span class="list-item-btns">
                                <a
                                    class="button-button button-size-blueinvert list-item-modify"
                                    href=""
                                    >수정하기</a
                                >
                            </span>
                            <button
                                type="button"
                                class="list-item-menu-btn"
                            ></button>
                            <div class="modal-modal-content list-item-menu">
                                <ul>
                                    <li>
                                        <button
                                            type="button"
                                            class="list-item-menu-delete"
                                        >
                                            삭제하기
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <div class="list-list-info list-list-info-top">
                        <span class="list-list-info-title">
                            <svg width="20" height="20" aria-hidden="false">
                                <use xlink:href="#information"></use>
                            </svg>
                            유의사항
                        </span>
                        <ul>
                            <li>
                                · 자소서 문항은 최대 15개까지 등록 가능합니다.
                            </li>
                            <li>· 자소서는 최대 100개까지 등록 가능합니다.</li>
                        </ul>
                    </div>
                </div>
            </section>
        </main>
        <footer></footer>
        <svg>
            <symbol
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="none"
                id="magnify"
            >
                <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M11 4C14.866 4 18 7.13401 18 11C18 12.7559 17.3535 14.3608 16.2855 15.5896L16.3536 15.6464L19.7477 19.0406C19.9429 19.2358 19.9429 19.5524 19.7477 19.7477C19.5741 19.9212 19.3047 19.9405 19.1098 19.8055L19.0406 19.7477L15.6464 16.3536C15.6251 16.3323 15.6062 16.3095 15.5895 16.2856C14.3607 17.3535 12.7558 18 11 18C7.13401 18 4 14.866 4 11C4 7.13401 7.13401 4 11 4ZM11 5C7.68629 5 5 7.68629 5 11C5 14.3137 7.68629 17 11 17C14.3137 17 17 14.3137 17 11C17 7.68629 14.3137 5 11 5Z"
                    fill="currentColor"
                ></path>
            </symbol>
            <symbol
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 16 16"
                fill="none"
                id="information"
            >
                <circle
                    cx="8"
                    cy="8"
                    r="7.4"
                    stroke="currentColor"
                    stroke-width="1.2"
                ></circle>
                <g fill="currentColor">
                    <path
                        d="M8 6C8.552 6 9 5.552 9 5C9 4.4475 8.552 4 8 4C7.448 4 7 4.4475 7 5C7 5.552 7.448 6 8 6Z"
                    ></path>
                    <path
                        d="M8.79462 7.9067C8.74841 7.50883 8.41027 7.2 8 7.2C7.55817 7.2 7.2 7.55817 7.2 8V11.6L7.20538 11.6933C7.25159 12.0912 7.58973 12.4 8 12.4C8.44183 12.4 8.8 12.0418 8.8 11.6V8L8.79462 7.9067Z"
                    ></path>
                </g>
            </symbol>
        </svg>
    </body>
    <script src="/static/js/cover-letter/list.js"></script>
</html>
