@charset "utf-8";
@font-face {
    font-family: "Pretendard";
    font-weight: 700;
    font-display: swap;
    src: local("Pretendard Bold"),
        url(https://www.saraminimage.co.kr/sri/font/Pretendard-Bold.subset.woff2)
            format("woff");
}

@font-face {
    font-family: "Pretendard";
    font-weight: 600;
    font-display: swap;
    src: local("Pretendard SemiBold"),
        url(https://www.saraminimage.co.kr/sri/font/Pretendard-SemiBold.subset.woff2)
            format("woff");
}

@font-face {
    font-family: "Pretendard";
    font-weight: 400;
    font-display: swap;
    src: local("Pretendard Regular"),
        url(https://www.saraminimage.co.kr/sri/font/Pretendard-Regular.subset.woff2)
            format("woff");
}
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
b,
strong,
input,
textarea,
button,
select {
    margin: 0;
    padding: 0;
}

#interview-write-sri-section.interview-write-layout-full {
    margin: 0;
    width: 100%;
}

#interview-write-sri-section {
    display: table;
    overflow: hidden;
    position: relative;
    z-index: 1;
    height: 100%;
    box-sizing: border-box;
}

#interview-write-sri-wrap {
    display: table-row;
    width: 100%;
    height: 100%;
}

#interview-write-sri-section.interview-write-layout-full
    #interview-write-content {
    margin: 0;
    width: 100%;
}

#interview-write-content {
    position: relative;
    z-index: 1;
}

#interview-write-sri-section.interview-write-layout-full
    .interview-write-wrap-title-recruit {
    margin: 0 auto;
    padding: 50px 0 50px;
    width: 1260px;
}

.interview-write-wrap-title-recruit {
    position: relative;
}

.interview-write-wrap-title-recruit .interview-write-title-common {
    display: inline-block;
    color: #444;
    font-size: 32px;
    font-weight: normal;
    line-height: 36px;
    vertical-align: top;
}

.interview-write-wrap-title-recruit .interview-write-txt-write-info {
    margin-bottom: -19px;
    padding: 9px 0 0 3px;
    color: #888;
    font-size: 13px;
    line-height: 21px;
}

.interview-write-wrap-title-recruit .interview-write-txt-write-info b {
    color: #444;
}

b {
    font-weight: bold;
}

.interview-write-wrap-interview-review {
    position: relative;
    margin: 0 auto 80px auto;
    padding-bottom: 69px;
    width: 1260px;
    background: var(--white);
}

input {
    line-height: normal;
}

fieldset {
    border: 0;
}

.interview-write-review-write:first-of-type {
    padding-top: 0;
}

.interview-write-review-write .interview-write-tit-step {
    display: inline-block;
    color: #444;
    font-size: 16px;
    font-weight: bold;
    line-height: 21px;
}

.interview-write-review-write .interview-write-txt-point {
    float: right;
    padding-top: 6px;
    color: #444;
    font-size: 12px;
    line-height: 16px;
}

.interview-write-review-write
    .interview-write-txt-point
    .interview-write-point {
    margin: 6px 2px 0 0;
}

.interview-write-review-write .interview-write-point {
    display: inline-block;
    width: 6px;
    height: 6px;
    vertical-align: top;
}

.interview-write-review-write .interview-write-point:before {
    width: 6px;
    height: 6px;
    background-position: -20px 0;
    content: "";
}

.interview-write-wrap-interview-review .interview-write-spr-review:before {
    display: inline-block;
    vertical-align: top;
    background: url(/static/images/interview-review/spr_review_190220.png)
        no-repeat;
}

.interview-write-blind {
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    width: 1px;
    height: 1px;
}

.interview-write-review-write .interview-write-tblType {
    margin-top: 8px;
}

.interview-write-tblType {
    border-top: 1px solid #666;
}

.interview-write-tblType table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    table-layout: fixed;
}

table {
    font-size: inherit;
    line-height: 100%;
}

.interview-write-review-write
    .interview-write-tblType
    th.interview-write-txtLeft {
    padding: 13px 0 14px 30px;
    color: #666;
    font-size: 13px;
    font-weight: normal;
    line-height: 21px;
}

.interview-write-tblType .interview-write-txtLeft {
    text-align: left;
}

.interview-write-tblType tbody th {
    border-color: #eaeaea;
    background-color: #f7f7f7;
    margin: 0;
    border-bottom: 1px solid #e1e1e1;
    box-sizing: border-box;
}

th {
    font-style: normal;
}

.interview-write-review-write
    .interview-write-tblType
    .interview-write-tit-item {
    position: relative;
    padding-right: 10px;
    font-weight: normal;
}

label {
    cursor: pointer;
}

.interview-write-review-write
    .interview-write-tblType
    .interview-write-tit-item
    .interview-write-point {
    margin: 8px 0 0 1px;
}

.interview-write-review-write .interview-write-point {
    display: inline-block;
    width: 6px;
    height: 6px;
    vertical-align: top;
}

.interview-write-review-write .interview-write-point:before {
    width: 6px;
    height: 6px;
    background-position: -20px 0;
    content: "";
}

.interview-write-tblType tbody td {
    border-color: #eaeaea;
    padding: 14px 10px;
    height: 47px;
    white-space: normal;
    word-break: break-all;
    margin: 0;
    border-bottom: 1px solid #e1e1e1;
    box-sizing: border-box;
    color: #222;
    font-size: 14px;
    line-height: 18px;
}

.interview-write-review-write .interview-write-auto-search {
    position: relative;
    width: 100%;
    font-size: 0;
}

.interview-write-review-write
    .interview-write-auto-search
    .interview-write-inpTypo {
    width: 345px;
}

.interview-write-review-write
    .interview-write-tblType
    .interview-write-inpTypo {
    padding-right: 4px;
}

.interview-write-inpTypo {
    padding: 0 11px 1px 11px;
    height: 32px;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    color: #444;
    font-size: 13px;
    line-height: 28px;
    vertical-align: middle;
    background: #fff;
}

.interview-write-review-write
    .interview-write-auto-search
    .interview-write-list-auto-search {
    display: none;
    overflow: hidden;
    overflow-y: auto;
    position: absolute;
    top: 32px;
    right: 0;
    left: 0;
    z-index: 10;
    max-height: 202px;
    border: 1px solid #666;
    border-top: 0;
    box-sizing: border-box;
    font-size: 13px;
    line-height: 17px;
    background: var(--white);
}

ul {
    list-style: none;
}

.interview-write-review-write
    .interview-write-auto-search
    .interview-write-no-search {
    padding: 34px 0;
    color: #666;
    text-align: center;
}

.interview-write-review-write
    .interview-write-auto-search
    .interview-write-btn-company-search {
    display: inline-block;
    margin-left: 6px;
    width: 138px;
    height: 32px;
    border: 1px solid var(--blue80);
    color: var(--blue80);
    font-size: 13px;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
}

button {
    cursor: pointer;
    background: transparent;
}

.interview-write-review-write
    .interview-write-tblType
    .interview-write-msgInvalid.interview-write-hide {
    display: none;
}

.interview-write-review-write
    .interview-write-tblType
    .interview-write-msgInvalid {
    margin-top: 4px;
    width: 100%;
    color: #f00;
    font-size: 12px;
    line-height: 16px;
}

em {
    font-weight: normal;
    font-style: normal;
}

.interview-write-review-write
    .interview-write-tblType
    td
    .interview-write-desire-area {
    position: relative;
    padding: 0 76px 1px 11px;
    width: 600px;
    min-height: 32px;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    color: #444;
    font-size: 13px;
    line-height: 28px;
    text-align: left;
    vertical-align: middle;
    background: var(--white);
}

.interview-write-wrap-section-contents {
    position: relative;
    top: -1px;
    z-index: 1;
}

.interview-write-wrap-section-contents.interview-write-common-panel
    .interview-write-option-content {
    width: 960px;
    border-radius: 8px;
}

.interview-write-option-content.interview-write-job-category-section.on {
    min-height: auto;
}

.interview-write-wrap-section-contents .interview-write-option-content.on {
    display: block;
}

.interview-write-wrap-section-contents .interview-write-option-content {
    display: none;
    border: 1px solid #444;
    box-sizing: border-box;
}

h2 {
    font-size: 100%;
    font-weight: normal;
}

.interview-write-wrap-section-contents .interview-write-select-keyword {
    border-bottom: 0;
    padding: 12px 0 0 15px;
    height: 65px;
    box-sizing: border-box;
}

.interview-write-wrap-section-contents
    .interview-write-select-keyword
    .interview-write-wrap-auto-keyword {
    float: left;
    position: relative;
}

.interview-write-wrap-section-contents
    .interview-write-select-keyword
    .interview-write-ipt-keyword {
    display: block;
    position: relative;
    width: 464px;
    height: 40px;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
}

.interview-write-wrap-section-contents
    .interview-write-select-keyword
    .interview-write-ipt-keyword:before {
    display: block;
    position: absolute;
    top: 14px;
    left: 15px;
    width: 13px;
    height: 13px;
    background: url(/static/images/interview-review/spr_search_panel.png)
        no-repeat 0 -133px;
    content: "";
}

.interview-write-wrap-section-contents
    .interview-write-select-keyword
    .interview-write-ipt-keyword
    input {
    padding: 0 40px 0 34px;
    width: 462px;
    height: 38px;
    border: 0;
    box-sizing: border-box;
    color: #222;
    font-size: 13px;
    line-height: 38px;
    background: transparent;
}

.interview-write-wrap-section-contents
    .interview-write-select-keyword
    .interview-write-ipt-keyword
    .interview-write-btn-delete {
    display: none;
    overflow: hidden;
    position: absolute;
    top: 13px;
    right: 15px;
    width: 15px;
    height: 15px;
    color: rgba(0, 0, 0, 0);
    font-size: 1px;
    background: url(/static/images/interview-review/spr_search_panel.png)
        no-repeat 0 -160px;
    border: 0;
    line-height: normal;
}

.interview-write-wrap-section-contents
    .interview-write-select-keyword
    .interview-write-wrap-result {
    display: none;
    position: absolute;
    top: 39px;
    left: 0;
    z-index: 10;
    width: 464px;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    background: #fff;
}

.interview-write-option-content.interview-write-job-category-section
    .interview-write-details
    .interview-write-wrap-scroll {
    width: 100%;
    height: 100%;
}

.interview-write-wrap-scroll {
    position: relative;
}

.interview-write-wrap-scroll .interview-write-track {
    position: relative;
    width: 100%;
    height: 100%;
    background: #fcfcfc;
}

.interview-write-wrap-scroll .interview-write-thumb {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 6px;
    height: 20px;
    background: #f2f2f3;
    cursor: pointer;
}

.interview-write-wrap-scroll .interview-write-end {
    overflow: hidden;
    width: 100%;
    height: 5px;
    background: #f2f2f3;
}

.interview-write-wrap-section-contents
    .interview-write-select-keyword
    .interview-write-wrap-result.interview-write-has-result
    .interview-write-viewport {
    height: 183px;
}

.option_content.job_category_section .wrap_scroll .viewport {
    height: 100%;
}

.interview-write-wrap-scroll .interview-write-viewport {
    overflow: hidden;
    position: relative;
    z-index: 1;
    width: 100%;
}

.interview-write-wrap-scroll .interview-write-overview {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
}

.interview-write-wrap-section-contents
    .interview-write-select-keyword
    .interview-write-list-keyword {
    padding: 9px 0 10px;
}

ul {
    list-style: none;
}

.interview-write-wrap-section-contents
    .interview-write-select-keyword
    .interview-write-area-btn {
    position: relative;
    padding: 0 15px;
    height: 39px;
    line-height: 39px;
    background: #fcfcfc;
}

.interview-write-wrap-section-contents
    .interview-write-select-keyword
    .interview-write-area-btn
    .interview-write-btn-close {
    position: absolute;
    top: 10px;
    right: 17px;
    color: #888;
    font-size: 13px;
    line-height: 18px;
    border: 0;
}

.interview-write-wrap-section-contents
    .interview-write-select-keyword
    .interview-write-wrap-result {
    display: none;
    position: absolute;
    top: 39px;
    left: 0;
    z-index: 10;
    width: 464px;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    background: #fff;
}

.interview-write-wrap-section-contents
    .interview-write-select-keyword
    .interview-write-wrap-result.interview-write-no-result
    p {
    padding-top: 85px;
    height: 183px;
    box-sizing: border-box;
    color: #999;
    font-size: 13px;
    text-align: center;
    vertical-align: middle;
}

.interview-write-wrap-section-contents
    .interview-write-select-keyword
    .interview-write-area-btn {
    position: relative;
    padding: 0 15px;
    height: 39px;
    line-height: 39px;
    background: #fcfcfc;
}

.interview-write-wrap-section-contents
    .interview-write-select-keyword
    .interview-write-area-btn
    .interview-write-btn-close {
    position: absolute;
    top: 10px;
    right: 17px;
    color: #888;
    font-size: 13px;
    line-height: 18px;
    border: 0;
}

.interview-write-option-content.interview-write-job-category-section
    .interview-write-details {
    overflow: hidden;
    height: initial;
}

h4 {
    font-size: 100%;
    font-weight: normal;
}

.interview-write-common-panel
    .interview-write-option-content.interview-write-job-category-section
    .interview-write-details
    .interview-write-box-jobs {
    display: block;
    width: 958px;
}

.interview-write-option-content.interview-write-job-category-section
    .interview-write-details
    .interview-write-box-jobs {
    font-size: 0;
}

.interview-write-common-panel
    .interview-write-option-content.interview-write-job-category-section
    .interview-write-details
    .interview-write-box-jobs
    .interview-write-btn-job {
    width: 137px;
    border-bottom: 0;
    border-top: 1px solid #e6e9ea;
}

.interview-write-common-panel
    .interview-write-option-content.interview-write-job-category-section
    .interview-write-details
    .interview-write-box-jobs
    .interview-write-btn-job:nth-of-type(7n) {
    width: 136px;
}

.interview-write-option-content.interview-write-job-category-section
    .interview-write-details
    .interview-write-box-jobs
    .interview-write-btn-job {
    height: 50px;
    border-right: 1px solid #e6e9ea;
    box-sizing: border-box;
    color: #222;
    font-size: 13px;
    line-height: normal;
}

.interview-write-common-panel .interview-write-box-detail-jobs {
    display: none;
    border-top: 1px solid #e6e9ea;
}

.interview-write-option-content.interview-write-job-category-section
    .interview-write-details
    .interview-write-box-onedepth {
    height: 161px;
    float: left;
    width: 204px;
    box-sizing: border-box;
}

.interview-write-option-content.interview-write-job-category-section
    .interview-write-wrap-scroll
    .interview-write-viewport {
    height: 100%;
}

.interview-write-wrap-scroll .interview-write-overview {
    top: 0px;
    position: absolute;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
}

.interview-write-option-content.interview-write-job-category-section
    .interview-write-details
    .interview-write-box-onedepth
    .interview-write-item-job {
    height: 40px;
}

.interview-write-option-content.interview-write-job-category-section
    .interview-write-wrap-scroll
    li.on {
    background: #f8faff;
}

li {
    list-style: none;
}

.interview-write-details
    .interview-write-box-onedepth
    .interview-write-item-job.on
    .interview-write-first-depth {
    color: #566feb;
    font-weight: bold;
    vertical-align: top;
}

.interview-write-details
    .interview-write-box-onedepth
    .interview-write-item-job
    .interview-write-first-depth {
    position: relative;
    margin-right: 4px;
    padding: 0 0 0 24px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-size: 13px;
    text-align: left;
}

.interview-write-details
    .interview-write-box-onedepth
    .interview-write-item-job.on
    .interview-write-first-depth:after {
    display: block;
    position: absolute;
    top: 14px;
    right: 15px;
    width: 6px;
    height: 11px;
    background: url(/static/images/interview-review/img_main_spr_200710.png)
        no-repeat -700px -300px;
    content: "";
}

.interview-write-wrap-section-contents
    .interview-write-select-keyword
    .interview-write-ipt-keyword:before {
    display: block;
    position: absolute;
    top: 14px;
    left: 15px;
    width: 13px;
    height: 13px;
    background: url(/static/images/interview-review/spr_search_panel.png)
        no-repeat 0 -133px;
    content: "";
}

.interview-write-wrap-section-contents .interview-write-select-keyword:after {
    display: table;
    clear: both;
    content: "";
    table-layout: fixed;
}

.interview-write-option-content.interview-write-job-category-section
    .interview-write-details::after {
    display: table;
    clear: both;
    content: "";
    table-layout: fixed;
}

.interview-write-common-panel
    .interview-write-option-content.interview-write-job-category-section
    .interview-write-details
    .interview-write-box-detail-depth {
    display: block;
    width: calc(100% - 204px);
}

.interview-write-option-content.interview-write-job-category-section
    .interview-write-details
    .interview-write-box-detail-depth {
    float: left;
    border-left: 1px solid #eaeaea;
    box-sizing: border-box;
}

.interview-write-box-detail-depth .interview-write-row.interview-write-list {
    height: 161px;
}

.interview-write-box-detail-depth .interview-write-row {
    box-sizing: border-box;
}

.interview-write-box-detail-depth
    .interview-write-list
    .interview-write-row-item {
    position: relative;
    padding-left: 172px;
    border-bottom: 1px solid #eaeaea;
    box-sizing: border-box;
}

.interview-write-box-detail-depth .interview-write-list dt {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 172px;
    height: 100%;
    box-sizing: border-box;
    color: #222;
    font-size: 13px;
}

.interview-write-box-detail-depth
    .interview-write-list
    dt
    .interview-write-btn-expand {
    position: relative;
    width: 100%;
    height: 100%;
    color: inherit;
    font-size: inherit;
    box-sizing: border-box;
    vertical-align: top;
    border: 0;
    line-height: normal;
}

.interview-write-box-detail-depth
    .interview-write-list
    dt
    .interview-write-btn-expand
    .interview-write-txt {
    position: absolute;
    top: 12px;
    left: 23px;
}

.interview-write-box-detail-depth
    .interview-write-list
    .interview-write-area-list {
    overflow: hidden;
    padding-left: 21px;
    width: 100%;
    max-height: 80px;
    border-left: 1px solid #eaeaea;
    box-sizing: border-box;
    font-size: 0;
    background-color: #fff;
}

.interview-write-box-detail-depth
    .interview-write-list
    .interview-write-area-list
    .interview-write-btn-three-depth {
    margin: 8px 8px 8px 0;
    padding: 0 6px;
    height: 24px;
    border-radius: 4px;
    color: #5c667b;
    font-size: 13px;
    border: 0;
    line-height: normal;
}

.interview-write-common-panel
    .interview-write-box-detail-depth
    .interview-write-list
    .interview-write-row-item:last-of-type {
    border-bottom: 0;
}

.interview-write-common-panel .interview-write-box-result {
    display: flex;
    overflow: hidden;
    width: 100%;
    min-height: 48px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    box-sizing: border-box;
    background-color: #fafbfc;
    flex-flow: row wrap;
    border-top: 1px solid #e6e9ea;
}

.interview-write-common-panel .interview-write-box-result .interview-write-row {
    display: flex;
    padding-bottom: 15px;
    width: calc(100% - 172px);
    box-sizing: border-box;
    flex-flow: row wrap;
}

.interview-write-common-panel
    .interview-write-box-result
    .interview-write-list {
    display: flex;
    padding: 15px 0 0 21px;
    width: 100%;
    box-sizing: border-box;
}

.interview-write-common-panel
    .interview-write-box-result
    .interview-write-list
    > dt {
    margin-right: 16px;
    width: 64px;
    color: #444;
    font-size: 13px;
    font-weight: bold;
}

.interview-write-common-panel
    .interview-write-box-result
    .interview-write-list
    dd {
    display: flex;
    padding-right: 17px;
    width: calc(100% - 80px);
    box-sizing: border-box;
    color: #888;
    font-size: 13px;
    flex-flow: row wrap;
}

.interview-write-common-panel
    .interview-write-box-result
    .interview-write-list
    dd
    span {
    margin-right: 10px;
    margin-bottom: 5px;
}

.interview-write-common-panel
    .interview-write-box-result
    .interview-write-row
    .interview-write-btn-job-reset.interview-write-hide {
    display: none;
}

.interview-write-common-panel
    .interview-write-box-result
    .interview-write-row
    .interview-write-btn-job-reset {
    position: relative;
    margin: 0 0 0 21px;
    color: #888;
    font-size: 13px;
    border: 0;
    line-height: normal;
}

.interview-write-common-panel
    .interview-write-box-result
    .interview-write-area-btn {
    display: flex;
    width: 170px;
    border-left: 1px solid #eaeaea;
    box-sizing: border-box;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
}

.interview-write-common-panel
    .interview-write-box-result
    .interview-write-area-btn
    .interview-write-btn-job-cancel {
    margin-right: 11px;
    border: 1px solid #dbdbdb;
    color: #444;
}

.interview-write-common-panel
    .interview-write-box-result
    .interview-write-area-btn
    .interview-write-btn {
    width: 64px;
    height: 32px;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 13px;
    line-height: normal;
}

.interview-write-common-panel
    .interview-write-box-result
    .interview-write-area-btn
    .interview-write-btn-job-confirm {
    color: #fff;
    background-color: #555;
}

.interview-write-common-panel
    .interview-write-box-result
    .interview-write-area-btn
    .interview-write-btn {
    width: 64px;
    height: 32px;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 13px;
    line-height: normal;
}

.interview-write-option-content.interview-write-job-category-section
    .interview-write-details::after {
    display: table;
    clear: both;
    content: "";
    table-layout: fixed;
}

.interview-write-review-write
    .interview-write-tblType
    .interview-write-txt-option {
    color: #444;
    font-size: 12px;
    line-height: 16px;
}

.interview-write-review-write .interview-write-range-option {
    padding-top: 10px;
}

.interview-write-inpSel {
    display: inline-block;
    height: 32px;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    vertical-align: middle;
    background: #fff;
}

.interview-write-review-write
    .interview-write-range-option
    .interview-write-inpSel
    > select {
    border-color: #dbdbdb;
    color: #666;
}
/* .interview-write-list-question select {
    
} */
.interview-write-list-question .interview-write-inpTypo option {
    height: 32px;
    font-size: 13px;
    color: #444;
    line-height: 16px;
}
.interview-write-inpSel select {
    padding: 0 29px 1px 11px;
    width: 169px;
    height: 30px;
    border: none;
    box-sizing: border-box;
    font-size: 13px;
    line-height: 29px;
    text-align: left;
    vertical-align: top;
    white-space: nowrap;
    text-overflow: ellipsis;
    background: url(/static/images/interview-review/ico_select_arr.png)
        no-repeat 100% 0;
    -webkit-appearance: none;
}

.interview-write-inpSel select option {
    height: 32px;
    font-size: 13px;
    color: #444;
    line-height: 16px;
}

.interview-write-review-write .interview-write-range-option:after {
    display: table;
    clear: both;
    content: "";
    table-layout: fixed;
}

.interview-write-review-write {
    padding-top: 34px;
}

.interview-write-inpRdoSw {
    display: inline-block;
    vertical-align: middle;
}

.interview-write-inpRdoSw .interview-write-inOption {
    float: left;
    position: relative;
}

.interview-write-inpRdoSw .interview-write-inOption > input {
    position: absolute;
    top: 0;
    width: 1px;
    height: 1px;
    outline: none;
    opacity: 0;
    pointer-events: none;
}

.interview-write-inpRdoSw.interview-write-colorWhite
    .interview-write-inOption
    > input:checked
    + .interview-write-lbl {
    background-color: #fff;
    color: #4876ef;
}

.interview-write-inpRdoSw
    .interview-write-inOption
    > input:checked
    + .interview-write-lbl {
    position: relative;
    z-index: 2;
    border-color: #4876ef;
}

.interview-write-review-write
    .interview-write-inpRdoSw
    .interview-write-inOption
    .interview-write-lbl {
    width: 116px;
}

.interview-write-inpRdoSw .interview-write-inOption > .interview-write-lbl {
    display: inline-block;
    padding: 5px 14px 6px;
    height: 32px;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    color: #666;
    font-size: 13px;
    line-height: 19px;
    text-align: center;
    vertical-align: top;
    background-color: #fff;
    cursor: pointer;
    user-select: none;
}

.interview-write-inpRdoSw
    .interview-write-inOption
    + .interview-write-inOption {
    margin-left: -1px;
}

.interview-write-inpRdoSw .interview-write-inOption:nth-child(n + 2):after {
    position: absolute;
    top: 0;
    left: -1px;
    z-index: 2;
    width: 2px;
    height: 100%;
    content: "";
}

.interview-write-inpRdoSw:after {
    display: table;
    clear: both;
    content: "";
    table-layout: fixed;
}

.interview-write-review-write
    .interview-write-tblType
    .interview-write-txt-sub {
    display: block;
}

.interview-write-review-write
    .interview-write-tblType
    .interview-write-txtLeft
    .interview-write-inpChk {
    margin-right: 10px;
}

.interview-write-inpChk {
    display: inline-block;
    position: relative;
    font-size: 0;
    vertical-align: top;
}

.interview-write-inpChk > input[type="checkbox"] {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
    width: 1px;
    height: 1px;
}

.interview-write-inpChk.interview-write-small
    > input[type="checkbox"]:checked
    + .interview-write-lbl {
    background-position: 0 -148px;
}

.interview-write-inpChk > input[type="checkbox"]:focus + label,
.interview-write-inpRdo > input[type="radio"]:focus + label {
    outline: 1px solid #94b6ed;
    box-shadow: 0 0 2px #94b6ed;
}

.interview-write-inpChk.interview-write-small
    > input[type="checkbox"]
    + .interview-write-lbl {
    padding-left: 20px;
    height: 17px;
    font-size: 12px;
    line-height: 16px;
    background-position: 0 -98px;
}

.interview-write-inpChk .interview-write-lbl {
    display: block;
    box-sizing: border-box;
    color: #444;
    background: url(/static/images/interview-review/sri_ico_checkbox03.png) 0
        2px no-repeat;
    user-select: none;
}

.interview-write-review-write
    .interview-write-tblType
    .interview-write-textarea {
    width: 510px;
}

.interview-write-review-write
    .interview-write-tblType
    .interview-write-tf-input {
    display: block;
    overflow: hidden;
    padding: 6px 13px;
    width: 510px;
    height: 87px;
    min-height: 87px;
    max-height: 308px;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    color: #444;
    font-size: 13px;
    line-height: 21px;
    resize: none;
}

.interview-write-review-write
    .interview-write-tblType
    .interview-write-txt-byte {
    float: right;
    margin: 4px 0 0;
    color: #888;
    font-size: 12px;
    line-height: 16px;
}

.interview-write-review-write
    .interview-write-tblType
    .interview-write-txt-byte
    .interview-write-emph {
    color: var(--blue80);
}

.interview-write-review-write
    .interview-write-tblType
    .interview-write-textarea
    .interview-write-msgInvalid {
    float: left;
    width: auto;
}

.interview-write-review-write
    .interview-write-tblType
    .interview-write-textarea:after {
    display: table;
    clear: both;
    content: "";
    table-layout: fixed;
}

.interview-write-review-write .interview-write-list-question li {
    overflow: hidden;
    position: relative;
    padding-top: 2px;
}

.interview-write-review-write
    .interview-write-list-question
    .interview-write-inpTypo {
    float: left;
    padding-left: 32px;
    width: 446px;
}

.interview-write-review-write
    .interview-write-list-question
    .interview-write-btn-basic-type02 {
    float: left;
    margin-left: 6px;
    width: 58px;
    color: #666;
}

.interview-write-btn-basic-type02 {
    padding: 5px 13px 9px;
    height: 32px;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    font-size: 13px;
    line-height: normal;
    vertical-align: top;
    background-color: #fff;
}

.interview-write-review-write
    .interview-write-list-question
    .interview-write-btn-add {
    padding: 5px 0 9px;
}

.interview-write-review-write .interview-write-list-question li span :before {
    position: absolute;
    top: 3px;
    left: 1px;
    padding: 6px 0;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    color: var(--blue80);
    font-size: 13px;
    line-height: 17px;
    text-align: center;
    background: var(--white);
    content: "Q";
}
.interview-write-review-write
    .interview-write-tblType
    .interview-write-txt-attach {
    font-size: 13px;
}

.interview-write-review-write
    .interview-write-tblType
    .interview-write-txt-attach
    .interview-write-ex {
    display: block;
    padding: 3px 0 9px;
    color: #949494;
    font-size: 12px;
}

.interview-write-review-write .interview-write-wrap-attached {
    overflow: hidden;
}

.interview-write-review-write
    .interview-write-wrap-attached
    .interview-write-btn-attach {
    overflow: hidden;
    float: left;
    position: relative;
    z-index: 1;
    width: 116px;
}

.interview-write-review-write
    .interview-write-wrap-attached
    .interview-write-btn-attach
    input {
    position: absolute;
    top: 0;
    width: 1px;
    height: 1px;
    outline: none;
    opacity: 0;
    pointer-events: none;
}

.interview-write-review-write
    .interview-write-wrap-attached
    .interview-write-btn-attach
    .interview-write-btn-basic-type02:before {
    margin: 3px 7px 0 0;
    width: 16px;
    height: 16px;
    background-position: -20px -20px;
    content: "";
}

.interview-write-review-write
    .interview-write-wrap-attached
    .interview-write-btn-attach
    .interview-write-btn-basic-type02 {
    width: 100%;
    text-align: center;
    display: inline-block;
}

.interview-write-review-write
    .interview-write-wrap-attached
    .interview-write-txt-filename {
    display: none;
    overflow: hidden;
    padding: 6px 10px 9px;
    height: 32px;
    box-sizing: border-box;
    color: #666;
    font-size: 13px;
    line-height: 17px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.interview-write-review-write .interview-write-txt-copyright {
    padding: 26px 0 28px;
    color: #666;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
}

.interview-write-review-write .interview-write-btn-confirm {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 40px;
    color: var(--white);
    font-size: 14px;
    font-weight: bold;
    background: #5f75eb;
}

.interview-write-box-detail-depth
    .interview-write-list
    dt
    .interview-write-btn-expand:after {
    position: absolute;
    top: 12px;
    right: 10px;
    width: 17px;
    height: 16px;
    background: url(/static/images/interview-review/spr_panel_expand.png) -5px -5px
        no-repeat;
    content: "";
}

.interview-write-box-detail-depth
    .interview-write-list
    .interview-write-row-item.interview-write-expand {
    height: auto;
    background-color: #f8faff;
}

.interview-write-box-detail-depth
    .interview-write-list
    .interview-write-row-item.expand
    dt
    .interview-write-btn-expand:after {
    width: 16px;
    height: 16px;
    background-position: -32px -5px;
}

.interview-write-box-detail-depth
    .interview-write-list
    dt
    .interview-write-btn-expand:after {
    position: absolute;
    top: 12px;
    right: 10px;
    background: url(/static/images/interview-review/spr_panel_expand.png) -5px -5px
        no-repeat;
    content: "";
}

.interview-write-box-detail-depth
    .interview-write-list
    .interview-write-row-item.expand {
    height: auto;
    background-color: #f8faff;
}

.interview-write-option-content.interview-write-job-category-section
    .interview-write-details
    .interview-write-box-onedepth.on {
    height: 241px;
}

.interview-write-box-detail-depth .interview-write-row.interview-write-list.on {
    height: 241px;
}

.common_panel .option_content.job_category_section .details .box_detail_depth {
    width: calc(100% - 204px);
}
