<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="/static/css/main.css" />
        <link
            rel="stylesheet"
            href="/static/css/password-forgotten/company-forgotten.css"
        />

        <title>기업 비밀번호 찾기</title>
    </head>
    <body>
        <div id="sri_section" class="has_banner">
            <div id="sri_wrap">
                <div id="content">
                    <div class="wrap_title_recruit">
                        <h1 class="title_common">기업회원 비밀번호 찾기</h1>
                    </div>
                    <div class="help_find company" id="company_find">
                        <div class="cont_find">
                            <form action="" method="post" id="find_form">
                                <fieldset>
                                    <div
                                        style="
                                            text-align: center;
                                            font-size: 18;
                                        "
                                    >
                                        <h2>비밀번호 재설정이 필요하신가요?</h2>
                                        <p
                                            style="
                                                font-size: 20px;
                                                margin: 20px 0;
                                            "
                                        >
                                            고객센터로 문의해 주세요:
                                            <strong style="color: #3157dd"
                                                >1588-XXXX</strong
                                            >
                                        </p>
                                        <p style="font-size: 14px; color: gray">
                                            운영시간: 평일 9:00 - 18:00 / 주말
                                            및 공휴일 휴무
                                        </p>

                                        <p
                                            style="
                                                margin-top: 10px;
                                                font-size: 12px;
                                                color: gray;
                                            "
                                        >
                                            문의 후 신속하게 도와드리겠습니다.
                                        </p>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <div class="find_method">
                            <a
                                href=""
                                class="btn_basic_type01 btn_login"
                                title="로그인 바로가기"
                                >로그인</a
                            >
                            <a
                                href=""
                                class="btn_basic_type04"
                                title="회원가입 바로가기"
                                >회원가입</a
                            >
                            <a
                                href=""
                                class="btn_basic_type04"
                                title="자주 묻는 질문 바로가기"
                                >자주 묻는 질문</a
                            >
                            <p class="desc_method">
                                위 방법으로 계정을 찾을 수 없다면,
                                <a href="" class="link_ask"
                                    >비밀번호 분실신고</a
                                >
                                를 이용해주세요.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="/static/js/password-forgotten/company-forgotten.js"></script>
</html>
