<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/css/main.css" />
        <link
            rel="stylesheet"
            href="/static/css/password-forgotten/forgotten-main.css"
        />
        <title>비밀번호 찾기</title>
    </head>
    <body>
        <div id="sri_section" class="has_banner">
            <div id="sri_wrap">
                <div id="content">
                    <div class="wrap_title_recruit">
                        <h1 class="title_common">비밀번호 찾기</h1>
                    </div>
                    <div class="help_find help_find_type4">
                        <div class="cont_find">
                            <p class="desc_find">
                                가입한 비밀번호를 잊으셨습니까?
                            </p>
                            <ul class="list_idpwd">
                                <li>
                                    <strong class="tit_idpwd">개인회원</strong>
                                    <span class="find_link">
                                        <a href="" class="link_sns"
                                            >비밀번호 찾기</a
                                        >
                                    </span>
                                </li>
                                <li>
                                    <strong class="tit_idpwd">기업회원</strong>
                                    <span class="find_link">
                                        <a href="" class="link_sns"
                                            >비밀번호 찾기</a
                                        >
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <div class="find_method">
                            <a
                                href=""
                                class="btn_basic_type01 btn_login"
                                title="로그인 바로가기"
                            >
                                로그인
                            </a>
                            <a
                                href=""
                                class="btn_basic_type01 btn_sns"
                                title="소셜계정 찾기 바로가기"
                            >
                                소셜계정 찾기
                            </a>
                            <a
                                href=""
                                class="btn_basic_type04"
                                title="회원가입 바로가기"
                                >회원가입</a
                            >
                            <a
                                href=""
                                class="btn_basic_type04"
                                title="자주 묻는 질문 바로가기"
                                >자주 묻는 질문</a
                            >
                            <p class="desc_method">
                                위 방법으로 계정을 찾을 수 없다면, 포지션
                                고객샌터로 직접
                                <a href="">문의</a>
                                주시기 바랍니다.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
