#sri-section {
    display: table;
    overflow: hidden;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
#sri-wrap {
    display: table-row;
    width: 100%;
    height: 100%;
}
#content {
    position: relative;
    z-index: 1;
    margin: 56px auto 80px auto;
    width: 960px;
}
.wrap-title-recruit.title-type2 {
    border-bottom: 1px solid #444;
}
.wrap-title-recruit {
    position: relative;
    padding: 0 0 50px;
}
.title-common {
    display: inline-block;
    color: #444;
    font-size: 32px;
    font-weight: normal;
    line-height: 36px;
    vertical-align: top;
}
.wrap-category-type {
    padding-bottom: 12px;
}
.wrap-category-type .list-category {
    overflow: hidden;
    padding: 25px 0 12px 26px;
    border: 1px solid #eaeaea;
    border-top: 0;
}

ol,
ul,
li {
    list-style: none;
}
.wrap-category-type .list-category li {
    float: left;
    padding-bottom: 14px;
    width: 179px;
    color: #777;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.wrap-category-type .list-category li a:hover,
.wrap-category-type .list-category .on a {
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

.wrap-category-type .list-category li a {
    color: #444;
    line-height: 17px;
}

.wrap-board.board-interview {
    margin-top: 32px;
}
.wrap-board.board-interview .search-area {
    padding: 0;
}
.wrap-board .wrap-count {
    display: inline-block;
    padding-top: 10px;
    color: #444;
    font-size: 14px;
    line-height: 20px;
}
.wrap-board.board-interview .search-right.sort {
    gap: 0;
}
.wrap-board .search-right.sort {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0 8px;
    grid-template-rows: auto;
}
.wrap-board .search-right {
    float: right;
}
.searchTypoBox {
    width: auto;
    height: auto;
    font-size: 0;
}
.inpTypo {
    padding: 0 11px 1px 11px;
    width: 100%;
    height: 32px;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    color: #444;
    font-size: 13px;
    line-height: 28px;
    vertical-align: middle;
    background: #fff;
}
.searchTypoBox .inpTypo {
    display: inline-block;
    padding-left: 10px;
    width: 187px;
    border: 1px solid #ddd;
    border-right: 0 none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #888;
}
.searchTypoBox .btnTypoSearch {
    width: 52px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #6d82f3;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    vertical-align: top;
}
.searchTypoBox .btnTypoSearch,
.searchTypoBox .btnTypoReset {
    padding-bottom: 4px;
    height: 32px;
    border: 0;
    cursor: pointer;
}
.searchTypoBox .btnTypoReset {
    margin-left: 5px;
    width: 32px;
    font-size: 0;
    vertical-align: middle;
    background: url(//www.saraminimage.co.kr/sri/common/ico/ico_search_btn_reset.png)
        no-repeat -2px -2px;
}
.wrap-board .search-area:after {
    display: table;
    clear: both;
    content: "";
    table-layout: fixed;
}
.recruilt-list-wrap {
    margin-bottom: 40px;
}
.job-interview-list ul.wrap-list-interview {
    width: 972px;
}
.job-interview-list ul {
    overflow: hidden;
    margin: -13px 0 0 -12px;
}
.job-interview-list li {
    float: left;
    position: relative;
    margin: 12px 0 0 12px;
    padding: 40px 30px;
    width: 312px;
    height: 350px;
    border: 1px solid #ebebeb;
    box-sizing: border-box;
}
.job-interview-list li .inlist-box {
    display: block;
}
.job-interview-list .sub-title {
    display: flex;
    margin-top: -2px;
    flex-flow: row wrap;
    justify-content: space-between;
}
.job-interview-list .in-subtit {
    display: inline-block;
    overflow: hidden;
    width: 73%;
    color: #5b6ed0;
    font-size: 15px;
    font-weight: bold;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap;
    word-break: break-all;
}
.job-interview-list .flag-applying {
    display: inline-block;
    padding: 1px 2px;
    border: 1px solid #f76a6a;
    box-sizing: border-box;
    color: #f76a6a;
    font-size: 12px;
    vertical-align: top;
}
.job-interview-list .title {
    overflow: hidden;
    position: relative;
    padding-top: 31px;
    height: 60px;
}
.job-interview-list .title em {
    color: #444;
    font-size: 20px;
    font-weight: bold;
    line-height: 31px;
    word-break: break-all;
}
.job-interview-list .title:after {
    display: block;
    position: absolute;
    top: 17px;
    left: 0;
    width: 20px;
    height: 1px;
    background: #222;
    content: "";
}
.job-interview-list .box-info {
    padding-top: 58px;
}
.job-interview-list .box-info .txt-detail {
    float: left;
    width: 140px;
}
.job-interview-list .box-info .company-name {
    overflow: hidden;
    padding-top: 6px;
    color: #666;
    font-size: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.job-interview-list .box-info .company-part {
    padding-top: 3px;
    color: #888;
    font-size: 13px;
    line-height: 20px;
}
.job-interview-list .box-info .company-part .inpart {
    display: block;
    word-break: break-all;
}
.job-interview-list .box-info .company-part .inname {
    display: block;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
}
.job-interview-list .box-info .day-line {
    padding-top: 12px;
}
.day-line span.day:after {
    display: block;
    position: absolute;
    top: 5px;
    right: -8px;
    width: 1px;
    height: 9px;
    background: #d1d1d1;
    content: "";
}
.job-interview-list .box-info .day-line span {
    color: #888;
    font-size: 13px;
    vertical-align: top;
}
.day-line span.view-count {
    display: inline-block;
    position: relative;
    padding-left: 34px;
}
.day-line span.view-count:after {
    display: block;
    position: absolute;
    top: 4px;
    left: 14px;
    width: 15px;
    height: 10px;
    background: url(//www.saraminimage.co.kr/sri/common/ico/ico_viewpage.png) 0
        0 no-repeat;
    content: "";
}
.job-interview-list .box-info .img-view {
    float: left;
    margin-left: 12px;
    width: 98px;
    height: 98px;
}
.job-interview-list .box-info .img-view .img {
    display: block;
    overflow: hidden;
    width: 98px;
    height: 98px;
    border-radius: 50%;
}
.job-interview-list .box-info .img-view .img img {
    width: auto;
    height: 98px;
}
.job-interview-list .box-info:after {
    display: table;
    clear: both;
    content: "";
    table-layout: fixed;
}
.job-interview-list li:after {
    display: table;
    clear: both;
    content: "";
    table-layout: fixed;
}
.PageBox {
    display: flex;
    margin: 40px 0 80px;
    justify-content: center;
}
.PageBox span.BtnType {
    border: 1px solid var(--gray60);
    font-weight: bold;
}
.PageBox .BtnType {
    display: flex;
    position: relative;
    width: 32px;
    border: 0;
    color: var(--gray80);
    background: none;
    align-items: center;
    justify-content: center;
}
[class*="BtnType"].SizeS {
    padding: 4px 7px;
    height: 32px;
    font-size: 13px;
    line-height: 20px;
}
[class*="BtnType"] {
    display: inline-flex;
    position: relative;
    border: 1px solid var(--blue90);
    border-radius: 4px;
    box-sizing: border-box;
    color: var(--white);
    text-align: center;
    vertical-align: top;
    background-color: var(--blue90);
    justify-content: center;
    align-items: center;
}
.PageBox .BtnType + .BtnType {
    margin-left: 4px;
}
.PageBox .BtnType + .BtnNext {
    margin-left: 16px;
}
.PageBox .BtnNext {
    margin-left: 16px;
    padding: 0 19px 0 8px;
    width: 54px;
}
.PageBox .BtnNext:after {
    right: 6px;
    border-width: 1px 1px 0 0 !important;
}
.PageBox .BtnPrev:after,
.PageBox .BtnNext:after {
    position: absolute;
    top: calc(50% + 1px);
    z-index: 2;
    width: 6px;
    height: 6px;
    border: solid var(--gray80);
    transform: translate(-50%, -50%) rotate(45deg);
    content: "";
}
