<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.positionback.mapper.apply.ApplyMapper">
    <select id="selectApplyByCorporationId">
        select *
        from view_apply_list
        where
        corporation_id = #{corporationId}
        <if test="pagination.status == 'closed'">
            <![CDATA[ and apply_status = '면접 예정' ]]>
        </if>
        <if test="pagination.status == 'ongoing'">
            <![CDATA[ and apply_status = '지원 완료' ]]>
        </if>
        <if test="pagination.status == 'position'">
            <![CDATA[ and apply_status = '면접 합격' ]]>
        </if>
        <if test="pagination.status == 'review'">
            <![CDATA[ and apply_status = '인턴십 완료' ]]>
        </if>
        order by
        <choose>
            <when test="pagination.order == 'recent'.toString()">apply_id</when>
            <otherwise>notice_end_date</otherwise>
        </choose>
        desc
        limit #{pagination.startRow}, #{pagination.rowCount}
    </select>

    <select id="selectCount">
        select count(*)
        from
        tbl_apply a
        join
        tbl_notice n on a.notice_id = n.id
        join
        tbl_corporation c on n.corporation_id = c.id
        join
        tbl_resume r on a.resume_id = r.id
        join
        tbl_member m on r.member_id = m.id
        where
        c.id = #{corporationId}
        <if test="pagination.status == 'closed'">
            <![CDATA[ and a.apply_status = '면접 예정' ]]>
        </if>
        <if test="pagination.status == 'ongoing'">
            <![CDATA[ and a.apply_status = '지원 완료' ]]>
        </if>
        <if test="pagination.status == 'position'">
            <![CDATA[ and a.apply_status = '면접 합격' ]]>
        </if>
        <if test="pagination.status == 'review'">
            <![CDATA[ and a.apply_status = '인턴십 완료' ]]>
        </if>
    </select>
    <select id="selectApplyCount">
        select count(*)
        from
        tbl_apply a
        join
        tbl_notice n on a.notice_id = n.id
        join
        tbl_corporation c on n.corporation_id = c.id
        where
        c.id = #{corporationId}
        <if test="pagination.status == 'closed'">
            <![CDATA[ and a.apply_status = '면접 예정' ]]>
        </if>
        <if test="pagination.status == 'ongoing'">
            <![CDATA[ and a.apply_status = '지원 완료' ]]>
        </if>
        <if test="pagination.status == 'position'">
            <![CDATA[ and a.apply_status = '면접 합격' ]]>
        </if>
        <if test="pagination.status == 'review'">
            <![CDATA[ and a.apply_status = '인턴십 완료' ]]>
        </if>
    </select>

    <update id="updateApplyStatus">
        update tbl_apply
        set apply_status = #{applyStatus}
        where id = #{applyId}
    </update>

    <select id="selectApplyById" >
        select *
        from view_apply_list
        where apply_id = #{applyId}
    </select>

</mapper>