<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.positionback.mapper.inquiry.InquiryFileMapper">
    <!-- 파일 추가   -->
    <insert id="insertInquiryAddFile">
        insert into tbl_inquiry_file (inquiry_id, id)
        values (#{inquiryId}, #{fileId})
    </insert>

    <!-- 마지막으로 추가된 ID를 가져오는 쿼리 -->
    <select id="selectRecentInsertId" resultType="Long">
        select last_insert_id()
    </select>

    <!-- 문의와 파일 연결 -->
    <insert id="insertInquiryFile">
        insert into tbl_inquiry_file (inquiry_id, id)
        values (#{inquiryId}, #{fileId})
    </insert>
</mapper>