<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.positionback.mapper.inquiry.InquiryMapper">
    <insert id="insertInquiry">
        INSERT INTO tbl_inquiry(inquiry_type, inquiry_category, inquiry_title, inquiry_content, member_id)
        VALUES (#{inquiryType}, #{inquiryCategory}, #{inquiryTitle}, #{inquiryContent}, #{memberId})
    </insert>

    <!-- 가장 최근 추가된 ID를 가져오는 쿼리 -->
    <select id="getRecentInsertId" resultType="Long">
        select last_insert_id()
    </select>
</mapper>