<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.positionback.mapper.jobcategory.JobCategoryMapper">

    <!-- 대카 조회 -->
    <select id="selectAllJobCategoryA" resultType="com.app.positionback.domain.jobcategory.JobCategoryADTO">
        SELECT id, job_categoryA_name
        FROM
            tbl_job_categoryA
    </select>

    <!-- 중카 조회 (대카 ID로 필터링) -->
    <select id="selectAllJobCategoryB" resultType="com.app.positionback.domain.jobcategory.JobCategoryBVO">
        SELECT B.id ,B.job_categoryB_name, B.job_categoryA_id
        FROM tbl_job_categoryB B
        JOIN tbl_job_categoryA A
            ON B.job_categoryA_id = A.id
        WHERE
        A.id = #{categoryAId} <!-- 필터링할 대카 ID를 파라미터로 받음 -->
    </select>

    <!-- 소카 조회 (중카 ID로 필터링) -->
    <select id="selectAllJobCategoryC" resultType="com.app.positionback.domain.jobcategory.JobCategoryCDTO">
        SELECT C.id, C.job_categoryC_name, C.job_categoryB_id
        FROM tbl_job_categoryC C
        JOIN tbl_job_categoryB B
            ON C.job_categoryB_id = B.id
        WHERE
        B.id = #{categoryBId} <!-- 필터링할 중카 ID를 파라미터로 받음 -->
    </select>

</mapper>
