<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.positionback.mapper.jobcategory.JobCategoryMapper">

    <!-- 대카 조회 -->
    <select id="selectAllJobCategoryA" resultType="com.app.positionback.domain.jobcategory.JobCategoryADTO">
        select id, job_categoryA_name
        from
            tbl_job_categoryA
    </select>

    <!-- 대카 ID로 조회 -->
    <select id="selectJobCategoryAById" resultType="com.app.positionback.domain.jobcategory.JobCategoryADTO">
        select id, job_categoryA_name
        from tbl_job_categoryA
        where id = #{categoryAId}
    </select>


    <!-- 중카 조회 (대카 ID로 필터링) -->
    <select id="selectAllJobCategoryB" resultType="com.app.positionback.domain.jobcategory.JobCategoryBDTO">
        select B.id ,B.job_categoryB_name, B.job_categoryA_id
        from tbl_job_categoryB B
        join tbl_job_categoryA A
            on B.job_categoryA_id = A.id
        where
        A.id = #{categoryAId}
    </select>

    <!-- 소카 조회 (중카 ID로 필터링) -->
    <select id="selectAllJobCategoryC" resultType="com.app.positionback.domain.jobcategory.JobCategoryCDTO">
        select C.id, C.job_categoryC_name, C.job_categoryB_id
        from tbl_job_categoryC C
        join tbl_job_categoryB B on C.job_categoryB_id = B.id
        where B.id = #{categoryBId}
    </select>

    <!-- 소카 조건 검색 (중카 ID 필터링 없음) -->
    <select id="selectJobCategoryCByCriteria" resultType="com.app.positionback.domain.jobcategory.JobCategoryCDTO">
        select C.id, C.job_categoryC_name, C.job_categoryB_id, A.job_categoryA_name
        from tbl_job_categoryC C
        join
        tbl_job_categoryB B on C.job_categoryB_id = B.id
        join
        tbl_job_categoryA A on B.job_categoryA_id = A.id
        <where>
            <!-- 조건: 소카 이름 검색 -->
            <if test="categoryCName != null and categoryCName != ''">
                and C.job_categoryC_name like concat('%', #{categoryCName}, '%') <!--search.keyword 사용? -->
            </if>
        </where>
    </select>


</mapper>
