<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.positionback.mapper.notice.NoticeFileMapper">
    <insert id="insertNoticeFile">
        insert into tbl_notice_file (notice_id, id)
        values (#{noticeId}, #{fileId})
    </insert>

    <!-- 특정 공고에 연결된 파일 삭제 -->
    <delete id="deleteFilesByNoticeId">
        delete from tbl_notice_file
        where notice_id = #{noticeId}
    </delete>

    <select id="selectFileIdByNoticeId">
        select n.id, n.notice_id, f.file_name, f.file_path, f.file_size, f.created_date, f.updated_date
        from tbl_notice_file n
        join tbl_file f on n.id = f.id
        where n.notice_id = #{noticeId}
    </select>

</mapper>
