<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.positionback.mapper.notice.NoticeMapper">
    <insert id="insertNotice">
        insert into tbl_notice (corporation_id, notice_title, notice_career, notice_education, notice_work_date, notice_end_date, job_categoryC_id)
        values (#{corporationId}, #{noticeTitle}, #{noticeCareer}, #{noticeEducation}, #{noticeWorkDate}, #{noticeEndDate},#{jobCategorycId})
    </insert>

    <insert id="insertFile">
        insert into tbl_file (file_name, file_path)
        values (#{fileName}, #{filePath})
    </insert>

    <!-- 마지막으로 삽입된 ID를 가져오는 쿼리 -->
    <select id="getLastInsertId" resultType="Long">
        select last_insert_id()
    </select>

    <insert id="insertNoticeFile">
        insert into tbl_notice_file (notice_id, id)
        values (#{noticeId}, #{fileId})
    </insert>

<!--    &lt;!&ndash; 기업 정보를 ID로 가져오기 &ndash;&gt;-->
<!--    <select id="getCorporationById" parameterType="long" resultType="com.app.positionback.domain.corporation.CorporationDTO">-->
<!--        SELECT id, corporation_name-->
<!--        FROM tbl_corporation-->
<!--        WHERE id = #{corporationId}-->
<!--    </select>-->


</mapper>
